<div id="regions-modal-container" #regionModalContainer>
  <div id="regions-modal" (click)="PreventEventPropagation($event)">
    <div class="modal-header">
      <p>Choose your regions</p>
    </div>
    <form class="modal-form" #regionsForm="ngForm">
      <div *ngFor="let region of regions" class="checkbox-container">
        <input type="checkbox" (click)="ToggleSelection($event)" name="region" ngModel value="{{region | json}}">
        <label class="is-not-selected" id="{{region.regionName + '-country-container'}}" for="region">{{region.regionName}}</label>
      </div>
    </form>
    <div id="region-modal-submit-button">
      <button (click)="SubmitRegionsForm(regionsForm)">Confirm</button>
    </div>
  </div>
</div>

<div id="languages-modal-container" #languageModalContainer>
  <div id="languages-modal" (click)="PreventEventPropagation($event)">
    <div class="modal-header">
      <p>Choose your languages</p>
    </div>
    <form class="modal-form" #languagesForm="ngForm">
      <div *ngFor="let language of languages" class="checkbox-container">
        <input type="checkbox" (click)="ToggleSelection($event)" name="language" ngModel value="{{language | json}}">
        <label class="is-not-selected" id="{{language.languageName + '-language-container'}}" for="language">{{language.languageName}}</label>
      </div>
    </form>
    <div id="language-modal-submit-button">
      <button (click)="SubmitLanguagesForm(languagesForm)">Confirm</button>
    </div>
  </div>
</div>

<div id="practitioner-pro-account-container">
  <div id="practitioner-pro-account-form-container">
    <div id="practitioner-pro-account-main-part">
      <div id="practitioner-pro-account-photo-section">
        <div id="upload-image-container">
          <img *ngIf="user.profileImageName === null && !isUploadingProccess" src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
          <img *ngIf="isUploadingProccess" style="background:white;" src="../../assets/Images/loading-screen.gif" />
          <img *ngIf="user.profileImageName !== null && ! isUploadingProccess" src="../../assets/Profile-Images/{{user.profileImageName}}.png?dummy={{dummyNumber}}" />
          <input type="file" id="image-upload-element" (change)="ChooseNewProfileImage($event.target.files)" />
          <img id="change-image-pencil-image" src="../../assets/KP-logo-accessories--png/pencil.svg" />
        </div>
        <p>Certified</p>
        <p>practitioner</p>
        <p>{{certificateLevelString}}</p>
      </div>
      <div id="practitioner-pro-account-form">
        <div id="certificate-identificator-container">
          <div id="certificate-label-part">
            <p>Certification level:</p>
          </div>
          <div id="certificate-content-part">
            <p>{{certificationLevel}}</p>
          </div>
        </div>
        <div id="membership-identificator-container">
          <div id="membership-label-part">
            <p>Membership:</p>
          </div>
          <div id="membership-content-part">
            <p *ngIf="membership != undefined && membership != ''">{{membership}}</p>
            <p *ngIf="membership == undefined || membership == ''">Overdue</p>
          </div>
        </div>
        <p></p>
        <form id="practitioner-information-form" #proInformationForm="ngForm" autocomplete="off">
          <div class="input-section">
            <div class="label-section">
              <label for="professionalEmail">Professional email:</label>
            </div>
            <div class="input-field-section">
              <input name="professionalEmail" #inputField placeholder="Your professional email address." pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" type="email" required (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.professionalEmail" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('professionalEmail',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="phoneNumber">Phone number:</label>
            </div>
            <div class="input-field-section">
              <input name="phoneNumber" #inputField placeholder="Enter your mobile number" (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.phoneNumber" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('phoneNumber',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="website">Website:</label>
            </div>
            <div class="input-field-section">
              <input name="website" #inputField placeholder="Your website." (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.website" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('website',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="language">Language:</label>
            </div>
            <div class="input-field-section">
              <div *ngFor="let language of user.languages" class="language-container">
                <p>{{language.languageName}}</p>
              </div>
              <p class="language-container" *ngIf="user != undefined && user.languages.length == 0">No language selected</p>
            </div>
            <div class="edit-button-section">
              <button (click)="DisplayLanguagesModal($event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Region">Region:</label>
            </div>
            <div class="input-field-section">
              <div *ngFor="let region of user.regions" class="region-container">
                <p>{{region.regionName}} </p>
              </div>
              <p class="region-container" *ngIf="user != undefined && user.regions.length == 0">No region selected</p>
            </div>
            <div class="edit-button-section">
              <button (click)="DisplayRegionsModal($event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section" id="bio-section">
            <div class="label-section">
              <label for="bio">Bio:</label>
            </div>
            <div class="input-field-section">
              <textarea name="bio" placeholder="Write some info about yourself." style="resize:none"  #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.bio"> </textarea>
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('bio',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="submit-form-section">
      <div>

      </div>
      <div id="valid-changes-section">
        <button [ngClass]="{'is-disabled': proInformationForm.pristine, 'is-enabled': !proInformationForm.pristine}" (click)="ChangeProfileData($event,proInformationForm)">Valid changes</button>
      </div>
      <div id="see-privacy-image-block">
        <div id="see-privacy-container">
          <img src="../../assets/KP-logo-accessories--png/0-00-KP-Lock.svg" />
          <a>See privacy policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
