html * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
    width:100%;
    /*overflow-x:hidden;*/
}

input[type='radio'] {
  -webkit-appearance: radio;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  width: 100%;
  font-family:barlowSemiCondensedLight;
  /*overflow-x:hidden;*/
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #006F91 white;
}

button{
    background:transparent;
    border:none;
}

  /* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-overflow-scrolling:auto;
}

  *::-webkit-scrollbar-track {
    background: white;
  }

  *::-webkit-scrollbar-thumb {
    width:10px;
    height: 35px;
    background-color: #9AC7EC;
    border: 3px solid white;
    background-clip: padding-box;
  }

@font-face{
    font-family:barlowSemiCondensedMedium;
    src:url('../../wwwroot/Fonts/BarlowSemiCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: kp102ValSans;
  src: url('../../wwwroot/Fonts/KP102ValSans.ttf') format('truetype');
}

@font-face {
  font-family: kp102ValSq;
  src: url('../../wwwroot/Fonts/KP102ValSq.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedRegular;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
}

@font-face{
    font-family:barlowSemiCondensed;
    src:url('../../wwwroot/Fonts/BarlowSemiCondensed-Black.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedThin;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Thin.ttf') format('truetype');
}


@font-face {
  font-family: barlowSemiCondensedBold;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedLight;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedLightItalic;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-LightItalic.ttf') format('truetype');
}

