html * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
    height:100vh;
    width:100%;
    overflow-x:hidden;
}

@font-face{
    font-family:barlowSemiCondensedMedium;
    src:url('../../wwwroot/Fonts/BarlowSemiCondensed-Medium.ttf') format('truetype');
}
@font-face{
    font-family:barlowSemiCondensed;
    src:url('../../wwwroot/Fonts/BarlowSemiCondensed-Black.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedThin;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Thin.ttf') format('truetype');
}


@font-face {
  font-family: barlowSemiCondensedBold;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedLight;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Light.ttf') format('truetype');
}
