html * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
    width:100%;
    /*overflow-x:hidden;*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  width: 100%;
  /*overflow-x:hidden;*/
}

@font-face{
    font-family:barlowSemiCondensedMedium;
    src:url('../../wwwroot/Fonts/BarlowSemiCondensed-Medium.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedRegular;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Regular.ttf') format('truetype');
}

@font-face{
    font-family:barlowSemiCondensed;
    src:url('../../wwwroot/Fonts/BarlowSemiCondensed-Black.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedThin;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Thin.ttf') format('truetype');
}


@font-face {
  font-family: barlowSemiCondensedBold;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedLight;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: barlowSemiCondensedLightItalic;
  src: url('../../wwwroot/Fonts/BarlowSemiCondensed-LightItalic.ttf') format('truetype');
}
