
<div id="report">
  <canvas style="display:none; height:100%" id="myChart">
  </canvas>
  <div id="title-page">
    <h1>Value Practitioner Report</h1>
    <img src="http://somefreedomain.ml/assets/Images/Screenshot_2021-05-13%20KP-Algo-graph%20%E2%80%93%20Google%20%D0%94%D0%B8%D1%81%D0%BA.png" />
    <p>Peter Jackson</p>
    <p><span>JLMKL89</span> - <span>2021-00-00</span></p>
  </div>
  <div id="survey-results-page">
    <div id="survey-results-page-title">
      <img id="survey-results-page-title-image" src="http://somefreedomain.ml/assets/KP-logo-full/KP-logo-006F91.jpg" />
      <h1 id="survey-results-page-title-text">Results of the survey</h1>
    </div>
    <div id="survey-results-page-main-content">
      <div id="survey-results-page-main-content-left-part">
        <img style="height:800px; width:1600px; margin-left:-400px;" src="{{imageString}}" />
      </div>
      <div id="survey-results-page-main-content-right-part" style="margin-left:-200px;font-size:2.1rem;">
        <div style="margin-right:40px;">
          <h3 style="font-weight:bold;font-size:30px;">Perspectives</h3>
          <p>{{'Survey.WrapUp.PerspectivesWheelSectionTexts.CorePerspective' | translate}}</p>
          <span id="primary-perspective-span"> <img src="http://somefreedomain.ml/assets/KP-logo-accessories--png/00-0-Drop-090.png" /> {{'Perspectives.' + corePerspectiveId + '.Title'| translate}}</span>
          <p>{{'Survey.WrapUp.PerspectivesWheelSectionTexts.SecondPerspective' | translate}}</p>
          <span id="secondary-perspective-span"> <img src="http://somefreedomain.ml/assets/KP-logo-accessories--png/00-0-Drop-090.png" /> {{'Perspectives.' + secondaryPerspectiveId + '.Title'| translate}}</span><br />
          <div *ngFor="let rwop of relativeWeightOfThePerspectives.reverse(); let i = index;">
            <img style="height:40px;width:40px;" src="http://somefreedomain.ml/assets/KP-logo-accessories--png/00-0-Drop-045-f.png" />
            <span>{{'Perspectives.' + textFilePerspectiveIndexes[i] + '.Title' | translate}}  </span>
            <span>{{rwop}}%</span>
          </div>
        </div>
        <div id="your-highest-priority-values-container">
          <p style="font-weight:bold;font-size:30px;">Top 9 values</p>
          <div id="highest-priority-values-container">
            <div *ngFor="let value of valuesFromThirdStage; index as i" class="value-container">
              <span>{{i + 1}}</span>
              <span style="padding-top:70px;" class="perspective-with-index-{{value.perspectiveId}}"> <img src="http://somefreedomain.ml/assets/KP-logo-accessories--png/00-0-Drop-045-f.png" /> </span>
              <span>{{'Values.' + value.character + '.Title' | translate}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="values-table-page">
    <div id="grounding-column">
      <p class="table-cell" id="grounding-column-title">Grounding</p>
      <div *ngFor="let groundingValue of reportTableValues[0]">
        <p class="table-cell" *ngIf="groundingValue == null"><span></span> <span></span> <span></span></p>
        <p class="table-cell" *ngIf="groundingValue != null"><span>{{groundingValue.selectedAtFirstStage ? '1': '0'}}</span>  <span>{{groundingValue.selectedAtSecondStage ? '1': '0'}}</span> <span style="color:red;"> {{groundingValue.thirdStagePriority == 0 ? '0': groundingValue.thirdStagePriority}}</span> <span [ngStyle]="{'color': groundingValue.selectedAtFirstStage ? (groundingValue.selectedAtSecondStage ? (groundingValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{'Values.' + groundingValue.valueCharacter + '.Title' | translate}}</span> <span [ngStyle]="{'color': groundingValue.selectedAtFirstStage ? (groundingValue.selectedAtSecondStage ? (groundingValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{groundingValue.thirdStagePriority == 0 ? '': '(' + groundingValue.thirdStagePriority + ')'}}</span></p>
      </div>
      <p class="table-cell" id="grounding-column-footer">{{relativeWeightOfThePerspectives[0]}}</p>
    </div>
    <div id="family-column">
      <p class="table-cell" id="family-column-title">Family</p>
      <div *ngFor="let familyValue of reportTableValues[1]">
        <p class="table-cell" *ngIf="familyValue == null"><span></span> <span></span> <span></span></p>
        <p class="table-cell" *ngIf="familyValue != null"><span>{{familyValue.selectedAtFirstStage ? '1': '0'}}</span>  <span>{{familyValue.selectedAtSecondStage ? '1': '0'}}</span> <span style="color:red;"> {{familyValue.thirdStagePriority == 0 ? '0': familyValue.thirdStagePriority}}</span> <span [ngStyle]="{'color': familyValue.selectedAtFirstStage ? (familyValue.selectedAtSecondStage ? (familyValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{'Values.' + familyValue.valueCharacter + '.Title' | translate}}</span> <span [ngStyle]="{'color': familyValue.selectedAtFirstStage ? (familyValue.selectedAtSecondStage ? (familyValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{familyValue.thirdStagePriority == 0 ? '': '(' + familyValue.thirdStagePriority + ')'}}</span></p>
      </div>
      <p class="table-cell" id="family-column-footer">{{relativeWeightOfThePerspectives[1]}}</p>
    </div>
    <div id="management-column">
      <p class="table-cell" id="management-column-title">Management</p>
      <div *ngFor="let managementValue of reportTableValues[2]">
        <p class="table-cell" *ngIf="managementValue == null"><span></span> <span></span> <span></span></p>
        <p class="table-cell" *ngIf="managementValue != null"><span>{{managementValue.selectedAtFirstStage ? '1': '0'}}</span>  <span>{{managementValue.selectedAtSecondStage ? '1': '0'}}</span> <span style="color:red;"> {{managementValue.thirdStagePriority == 0 ? '0': managementValue.thirdStagePriority}}</span> <span [ngStyle]="{'color': managementValue.selectedAtFirstStage ? (managementValue.selectedAtSecondStage ? (managementValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{'Values.' + managementValue.valueCharacter + '.Title' | translate}} </span> <span [ngStyle]="{'color': managementValue.selectedAtFirstStage ? (managementValue.selectedAtSecondStage ? (managementValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{managementValue.thirdStagePriority == 0 ? '': '(' + managementValue.thirdStagePriority + ')'}}</span></p>
      </div>
      <p class="table-cell" id="management-column-footer">{{relativeWeightOfThePerspectives[2]}}</p>
    </div>
    <div id="relational-column">
      <p class="table-cell" id="relational-column-title">Relational</p>
      <div *ngFor="let relationalValue of reportTableValues[3]">
        <p class="table-cell" *ngIf="relationalValue == null"><span></span> <span></span> <span></span></p>
        <p class="table-cell" *ngIf="relationalValue != null"><span>{{relationalValue.selectedAtFirstStage ? '1': '0'}}</span>  <span>{{relationalValue.selectedAtSecondStage ? '1': '0'}}</span> <span style="color:red;"> {{relationalValue.thirdStagePriority == 0 ? '0': relationalValue.thirdStagePriority}}</span> <span [ngStyle]="{'color': relationalValue.selectedAtFirstStage ? (relationalValue.selectedAtSecondStage ? (relationalValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{'Values.' + relationalValue.valueCharacter + '.Title' | translate}}</span> <span [ngStyle]="{'color': relationalValue.selectedAtFirstStage ? (relationalValue.selectedAtSecondStage ? (relationalValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{relationalValue.thirdStagePriority == 0 ? '': '(' + relationalValue.thirdStagePriority + ')'}}</span></p>
      </div>
      <p class="table-cell" id="relational-column-footer">{{relativeWeightOfThePerspectives[3]}}</p>
    </div>
    <div id="systems-column">
      <p class="table-cell" id="systems-column-title">Systems</p>
      <div *ngFor="let systemsValue of reportTableValues[4]">
        <p class="table-cell" *ngIf="systemsValue == null"><span></span> <span></span> <span></span></p>
        <p class="table-cell" *ngIf="systemsValue != null"><span>{{systemsValue.selectedAtFirstStage ? '1': '0'}}</span>  <span>{{systemsValue.selectedAtSecondStage ? '1': '0'}}</span> <span style="color:red;"> {{systemsValue.thirdStagePriority == 0 ? '0': systemsValue.thirdStagePriority}}</span> <span [ngStyle]="{'color': systemsValue.selectedAtFirstStage ? (systemsValue.selectedAtSecondStage ? (systemsValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{'Values.' + systemsValue.valueCharacter + '.Title' | translate}}</span> <span [ngStyle]="{'color': systemsValue.selectedAtFirstStage ? (systemsValue.selectedAtSecondStage ? (systemsValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{systemsValue.thirdStagePriority == 0 ? '': '(' + systemsValue.thirdStagePriority + ')'}}</span></p>
      </div>
      <p class="table-cell" id="systems-column-footer">{{relativeWeightOfThePerspectives[4]}}</p>
    </div>
    <div id="expansion-column">
      <p class="table-cell" id="expansion-column-title">Expansion</p>
      <div *ngFor="let expansionValue of reportTableValues[5]">
        <p class="table-cell" *ngIf="expansionValue == null"><span></span> <span></span> <span></span></p>
        <p class="table-cell" *ngIf="expansionValue != null"><span>{{expansionValue.selectedAtFirstStage ? '1': '0'}}</span>  <span>{{expansionValue.selectedAtSecondStage ? '1': '0'}}</span> <span style="color:red;"> {{expansionValue.thirdStagePriority == 0 ? '0': expansionValue.thirdStagePriority}}</span> <span [ngStyle]="{'color': expansionValue.selectedAtFirstStage ? (expansionValue.selectedAtSecondStage ? (expansionValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{'Values.' + expansionValue.valueCharacter + '.Title' | translate}}</span> <span [ngStyle]="{'color': expansionValue.selectedAtFirstStage ? (expansionValue.selectedAtSecondStage ? (expansionValue.thirdStagePriority > 0 ? 'red' : 'blue') : '#006F91') : 'gray'}">{{expansionValue.thirdStagePriority == 0 ? '': '(' + expansionValue.thirdStagePriority + ')'}}</span></p>
      </div>
      <p class="table-cell" id="expansion-column-footer">{{relativeWeightOfThePerspectives[5]}}</p>
    </div>
  </div>
  <div class="reminder" id="grounding-reminder">
    <div class="reminder-header">
      <div class="reminder-text-container">
        <span>Reminder</span>
      </div>
      <img src="http://somefreedomain.ml/assets/KP-logo-full/KP-logo-006F91.jpg" />
    </div>
    <div class="reminder-title">
      <img src="http://somefreedomain.ml/assets/KP-logotype/KP-logotype-006F91-red.png" />
      <div class="reminder-title-text">
        <p>Grounding,</p>
        <p>as your Core Perspective</p>
      </div>
    </div>
    <div class="reminder-texts">
      <p>
        {{'Perspectives.1.MainPerspectiveText' | translate}}
      </p>
      <p>Grounding as a your Core Perspective</p>
      <p>
        {{'Perspectives.1.CorePerspectiveText' | translate}}
      </p>
    </div>
  </div>
  <div class="reminder" id="family-reminder">
    <div class="reminder-header">
      <div class="reminder-text-container">
        <span>Reminder</span>
      </div>
      <img src="http://somefreedomain.ml/assets/KP-logo-full/KP-logo-006F91.jpg" />
    </div>
    <div class="reminder-title">
      <img src="http://somefreedomain.ml/assets/KP-logotype/KP-logotype-006F91-orange.png" />
      <div class="reminder-title-text">
        <p>Family,</p>
        <p>as your Core Perspective</p>
      </div>
    </div>
    <div class="reminder-texts">
      <p>
        {{'Perspectives.2.MainPerspectiveText' | translate}}
      </p>
      <p>Family as a your Core Perspective</p>
      <p>
        {{'Perspectives.2.CorePerspectiveText' | translate}}
      </p>
    </div>
  </div>
  <div class="reminder" id="management-reminder">
    <div class="reminder-header">
      <div class="reminder-text-container">
        <span>Reminder</span>
      </div>
      <img src="http://somefreedomain.ml/assets/KP-logo-full/KP-logo-006F91.jpg" />
    </div>
    <div class="reminder-title">
      <img src="http://somefreedomain.ml/assets/KP-logotype/KP-logotype-006F91-yellow.png" />
      <div class="reminder-title-text">
        <p>Management,</p>
        <p>as your Core Perspective</p>
      </div>
    </div>
    <div class="reminder-texts">
      <p>
        {{'Perspectives.3.MainPerspectiveText' | translate}}
      </p>
      <p>Management as a your Core Perspective</p>
      <p>
        {{'Perspectives.3.CorePerspectiveText' | translate}}
      </p>
    </div>
  </div>
  <div class="reminder" id="relational-reminder">
    <div class="reminder-header">
      <div class="reminder-text-container">
        <span>Reminder</span>
      </div>
      <img src="http://somefreedomain.ml/assets/KP-logo-full/KP-logo-006F91.jpg" />
    </div>
    <div class="reminder-title">
      <img src="http://somefreedomain.ml/assets/KP-logotype/KP-logotype-006F91-green.png" />
      <div class="reminder-title-text">
        <p>Relational,</p>
        <p>as your Core Perspective</p>
      </div>
    </div>
    <div class="reminder-texts">
      <p>
        {{'Perspectives.4.MainPerspectiveText' | translate}}
      </p>
      <p>Relational as a your Core Perspective</p>
      <p>
        {{'Perspectives.4.CorePerspectiveText' | translate}}
      </p>
    </div>
  </div>
  <div class="reminder" id="systems-reminder">
    <div class="reminder-header">
      <div class="reminder-text-container">
        <span>Reminder</span>
      </div>
      <img src="http://somefreedomain.ml/assets/KP-logo-full/KP-logo-006F91.jpg" />
    </div>
    <div class="reminder-title">
      <img src="http://somefreedomain.ml/assets/KP-logotype/KP-logotype-006F91-blue.png" />
      <div class="reminder-title-text">
        <p>Systems,</p>
        <p>as your Core Perspective</p>
      </div>
    </div>
    <div class="reminder-texts">
      <p>
        {{'Perspectives.5.MainPerspectiveText' | translate}}
      </p>
      <p>Systems as a your Core Perspective</p>
      <p>
        {{'Perspectives.5.CorePerspectiveText' | translate}}
      </p>
    </div>
  </div>
  <div class="reminder" id="expansion-reminder">
    <div class="reminder-header">
      <div class="reminder-text-container">
        <span>Reminder</span>
      </div>
      <img src="http://somefreedomain.ml/assets/KP-logo-full/KP-logo-006F91.jpg" />
    </div>
    <div class="reminder-title">
      <img src="http://somefreedomain.ml/assets/KP-logotype/KP-logotype-006F91-violet.png" />
      <div class="reminder-title-text">
        <p>Expansion,</p>
        <p>as your Core Perspective</p>
      </div>
    </div>
    <div class="reminder-texts">
      <p>
        {{'Perspectives.6.MainPerspectiveText' | translate}}
      </p>
      <p>Expansion as a your Core Perspective</p>
      <p>
        {{'Perspectives.6.CorePerspectiveText' | translate}}
      </p>
    </div>
  </div>
</div>
