<app-navigation-bar></app-navigation-bar>
<app-page-title titleText="The survey"></app-page-title>
<div id="survey-first-stage-container">
  <div id="title-section">
    <div class="prev-step-button-container">
      <button class="button-enabled" *ngIf="isStepDescriptionPage" (click)="ProceedToPersonalSpace($event)"> <img src="../../assets/KP-logo-accessories--png/00-0-Drop-270.png" /> To personal account </button>
      <button class="button-enabled" *ngIf="isSelectionStage" (click)="ProceedToDescriptionStage($event)"> <img src="../../assets/KP-logo-accessories--png/00-0-Drop-270.png" /> Back </button>
      <button class="button-enabled" *ngIf="isValidationStage" (click)="ProccedToSelectionStage($event)"> <img src="../../assets/KP-logo-accessories--png/00-0-Drop-270.png" /> Selection </button>
    </div>
    <div id="step-title-container">
      <p>
        1st step - selection
      </p>
      <p>Choose up to 55 values out of 102</p>
    </div>
    <div class="step-validation-container">
      <button id="procced-to-validation-step-button" [ngClass]="{'button-disabled':numberOfValuesQualified < 102, 'button-enabled':numberOfValuesQualified == 102}" (click)="ProceedToValidationStep($event)" *ngIf="!isStepDescriptionPage && !isValidationStage">Step validation <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" /> </button>
      <button class="button-enabled to-selection-button" *ngIf="isStepDescriptionPage" (click)="ProccedToSelectionStage($event)">To selection<img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" /> </button>
      <button [ngClass]="{'button-enabled': importantValues.length <= 55 && importantValues.length >= 35,'button-disabled': importantValues.length > 55 || importantValues.length < 35, 'to-selection-button':true}" (click)="SaveFirstStageResults($event)" *ngIf="isValidationStage">Next step<img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" /> </button>
    </div>
  </div>
  <div id="description-page-container" *ngIf="isStepDescriptionPage">
    <div class="go-to-selection-stage-button">

    </div>
    <div id="description-page-text">
      <p>{{'Survey.FirstStage.FirstParagraph' | translate}}</p><br />
      <p>{{'Survey.FirstStage.SecondParagraph' | translate}}</p><br />
      <p>{{'Survey.FirstStage.ThirdParagraph' | translate}}</p><br />
      <p>{{'Survey.FirstStage.FourthParagraph' | translate}}</p>
    </div>
    <div class="go-to-selection-stage-button">
      <button (click)="ProccedToSelectionStage($event)"><img src="../../assets/KP-logo-accessories--png/0-00-Arrow-right.png" /></button>
    </div>
  </div>
  <div id="main-section" *ngIf="isSelectionStage">
    <div id="value-part">
      <div id="previous-value-container">
        <button *ngIf="currentIndex > 0" (click)="SelectPreviousValue($event)"><img src="../../assets/KP-logo-accessories--png/0-00-Arrow-left.png" /></button>
      </div>
      <div id="value">
        <div id="value-ideogram">
          <span #valueIdeogram>{{values[currentIndex].character}}</span>
        </div>
        <div id="value-info">
          <p>{{'Values.' + values[currentIndex].character + '.Title' | translate}}</p>
          <p>{{'Values.' + values[currentIndex].character + '.Definition' | translate}}</p>
        </div>
      </div>
      <div id="next-value-container">
        <button *ngIf="currentIndex < 101" (click)="SelectNextValue($event)"><img src="../../assets/KP-logo-accessories--png/0-00-Arrow-right.png" /></button>
      </div>
    </div>
    <div id="importance-buttons-section">
      <button [ngClass]="{'decision-button': currentValueClickedAtSelectionImportance == null || currentValueClickedAtSelectionImportance == 'important', 'not-important-button-style': currentValueClickedAtSelectionImportance == 'not-important'}" (click)="MarkAsLessImportant($event)">Less important</button>
      <button [ngClass]="{'decision-button': currentValueClickedAtSelectionImportance == null || currentValueClickedAtSelectionImportance == 'not-important', 'important-button-style': currentValueClickedAtSelectionImportance == 'important'}" (click)="MarkAsImportant($event)">Important</button>
    </div>
  </div>
  <div id="values-selected-stats-section-mobile" *ngIf="isSelectionStage && isMobile">
    <div id="values-selected-stats-container-mobile">
      <p>{{numberOfValuesQualified}} values qualified out of 102</p>
      <p>{{numberOfValuesQualifiedAsImportant}} qualified as important</p>
    </div>
  </div>
  <div id="values-selected-stats-section" *ngIf="isSelectionStage && !isMobile">
    <div id="values-selected-stats-container">
      <p>{{numberOfValuesQualified}} values qualified out of 102</p>
      <p>{{numberOfValuesQualifiedAsImportant}} qualified as important</p>
    </div>
  </div>
  <div id="bottom-section" *ngIf="isSelectionStage">
    <div (click)="SelectPreviousValue($event)" class="switch-values-arrows-section">
      <img src="../../assets/KP-logo-accessories--png/0-00-Arrow-left.png" />
    </div>
    <div id="values-list-section">
      <div id="values-bar">
        <div #valueContainers *ngFor="let value of values; index as i;" (click)="SelectNewValue($event, i)" [attr.data-valueId]="value.id" [attr.data-perspectiveId]="value.perspectiveId" [attr.data-id]="i" class="value-container">
          <p>{{value.character}}</p>
          <p>{{'Values.' + value.character + '.Title' | translate}}</p>
        </div>
      </div>
    </div>
    <div (click)="SelectNextValue($event)" class="switch-values-arrows-section">
      <img src="../../assets/KP-logo-accessories--png/0-00-Arrow-right.png" />
    </div>
  </div>
  <div *ngIf="isValidationStage" id="validation-stage">
    <div id="validity-indicator-container">
      <p *ngIf="numberOfValuesQualifiedAsImportant > 55">
        {{numberOfValuesQualifiedAsImportant - 55 + ' values selected too many\n Please deselect'}}
      </p>
      <p *ngIf="numberOfValuesQualifiedAsImportant <= 55 && numberOfValuesQualifiedAsImportant >= 35">
        {{numberOfValuesQualifiedAsImportant + ' values selected\n OK'}}
      </p>
      <p *ngIf="numberOfValuesQualifiedAsImportant < 35">
        {{35 - numberOfValuesQualifiedAsImportant + ' values selected too less\n Please select more'}}
      </p>
    </div>
    <div id="less-important-values-container">
      <p class="title">Less important</p>
      <div cdkDropList #lessImportantValuesList="cdkDropList" [cdkDropListData]="lessImportantValues" [cdkDropListConnectedTo]="[importantValuesList]" (cdkDropListDropped)="Drop($event)" [ngClass]="{'validation-container-list-mode':descriptiveModeIsOn, 'validation-container-row-mode':!descriptiveModeIsOn}">
        <ul>
          <li *ngFor="let value of lessImportantValues;" (click)="DisplayValueModal($event, value,'value-is-not-important')" cdkDrag>
            <span class="value-is-not-important">{{values[value.nativeElement.dataset.id].character | translate}}</span>
            <span *ngIf="descriptiveModeIsOn">{{'Values.' + values[value.nativeElement.dataset.id].character + '.Title' | translate}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div id="important-values-container">
      <p class="title">Important</p>
      <div cdkDropList #importantValuesList="cdkDropList" [cdkDropListData]="importantValues" [cdkDropListConnectedTo]="[lessImportantValuesList]" (cdkDropListDropped)="Drop($event)" [ngClass]="{'validation-container-list-mode':descriptiveModeIsOn, 'validation-container-row-mode':!descriptiveModeIsOn}">
        <ul>
          <li *ngFor="let value of importantValues" (click)="DisplayValueModal($event, value, 'value-is-important')" cdkDrag>
            <span class="value-is-important">{{values[value.nativeElement.dataset.id].character | translate}}</span>
            <span *ngIf="descriptiveModeIsOn">{{'Values.' + values[value.nativeElement.dataset.id].character + '.Title' | translate}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div id="value-modal" *ngIf="valueModalIsVisible">
      <div id="value-modal-ideogram-section">
        <div #valueModalIdeogram id="value-modal-ideogram" [ngClass]="{'value-is-important': currentValueClickedAtValidationImportance == 'important'}">
          {{values[currentValueClickedAtValidationStep.nativeElement.dataset.id].character | translate}}
        </div>
      </div>
      <p id="value-modal-title">
        {{'Values.' + values[currentValueClickedAtValidationStep.nativeElement.dataset.id].character + '.Title' | translate}}
      </p>
      <p id="value-modal-description">
        {{'Values.' + values[currentValueClickedAtValidationStep.nativeElement.dataset.id].character + '.Definition' | translate}}
      </p>
      <img id="close-modal-icon" (click)="CloseModal($event)" src="../../assets/Images/close.svg" />
    </div>
  </div>
</div>
<app-footer></app-footer>
