#reset-password-form, #enter-new-password-form {
  display: flex;
  flex-flow: column;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  min-height: 200px;
  background-color: #9AC7EC;
  justify-content: space-evenly;
  align-items: center;
  color: #006F91;
  border-radius: 5px;
  font-size: 1.5rem;
}

.password-field {
  width: 95%;
  color: #006F91;
  text-align: center;
}

.submit-button {
  background-color: white;
  padding: 5px;
  cursor: pointer;
  color: #006F91;
  margin-top:10px;
}

  .submit-button:hover {
    background-color: #006F91;
    color:white;
  }

#link-is-sent-notification-container{
    margin:auto;
    font-size:1.8rem;
    text-align:center;
    padding:10px;
    color:#006F91;
}

#error-message-container {
  color: white;
  background-color: red;
  width: 330px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}

#reset-password-page-container{
    display:flex;
    flex-flow:column;
    justify-content:center;
    min-height:400px;
}
