<app-navigation-bar></app-navigation-bar>
<app-page-title titleText="Personal Account"></app-page-title>
<div id="reset-password-page-container">
  <div id="error-message-container" *ngIf="errorMessageIsVisible">
    <p>{{errorMessage}}</p>
  </div>
  <div id="reset-password-form" *ngIf="!tokenIsSet && !linkIsSent">
    <label for="email">Please enter your email:</label>
    <input class="password-field" placeholder="Email address" type="email" [(ngModel)]="email" />
    <button class="submit-button" (click)="EmailResetPasswordLink($event)">Send reset link</button>
  </div>
  <div id="link-is-sent-notification-container" *ngIf="!tokenIsSet && linkIsSent">
    <p>Password reset link was sent to your email, please check it and click on the link in the message.</p>
  </div>
  <div id="enter-new-password-form" *ngIf="tokenIsSet">
    <label for="password">Enter your new password:</label>
    <input class="password-field" [(ngModel)]="resetPasswordViewModel.password" type="password" placeholder="New password" />
    <label for="passwordConfirm">Confirm your new password:</label>
    <input class="password-field" [(ngModel)]="resetPasswordViewModel.confirmPassword" type="password" placeholder="Confirm new password" />
    <button class="submit-button" (click)="ResetPassword($event)">Reset password</button>
  </div>
</div>
<app-footer></app-footer>
