
<app-navigation-bar></app-navigation-bar>
<app-page-title titleText="Practitioner account"></app-page-title>
<div id="error-message-container" >
  <p>{{errorMessage}}</p>
</div>
<div id="practitioner-account-sections">
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'my-account-section', 'section-not-selected': selectedTab != 'my-account-section'}" #accountSectionTab (click)="SelectTab($event)" id="my-account-section">
    <p>My account</p>
  </div>
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'pro-details-section', 'section-not-selected': selectedTab != 'pro-details-section'}" #accountSectionTab (click)="SelectTab($event)" id="pro-details-section">
    <p>Pro details</p>
  </div>
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'servey-results-and-reports-section', 'section-not-selected': selectedTab != 'servey-results-and-reports-section'}" #accountSectionTab (click)="SelectTab($event)" id="servey-results-and-reports-section">
    <p>Survey & Reports</p>
  </div>
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'certification-membership-section', 'section-not-selected': selectedTab != 'certification-membership-section'}" #accountSectionTab (click)="SelectTab($event)" id="certification-membership-section">
    <p>Certification / Membership</p>
  </div>
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'get-codes-and-support-section', 'section-not-selected': selectedTab != 'get-codes-and-support-section'}" #accountSectionTab (click)="SelectTab($event)" id="get-codes-and-support-section">
    <p>Get codes and support</p>
  </div>
</div>
<!--<div id="practitioner-account-container">
  <div id="practitioner-account-sections">
    <div class="practitioner-account-section section-selected" #accountSectionTab (click)="SelectTab($event)" id="my-account-section">
      <p>My account</p>
    </div>
    <div class="practitioner-account-section section-not-selected" #accountSectionTab (click)="SelectTab($event)" id="pro-details-section">
      <p>Pro details</p>
    </div>
    <div class="practitioner-account-section section-not-selected" #accountSectionTab (click)="SelectTab($event)" id="servey-results-and-reports-section">
      <p>Survey & Reports</p>
    </div>
    <div class="practitioner-account-section section-not-selected" #accountSectionTab (click)="SelectTab($event)" id="certification-membership-section">
      <p>Certification / Membership</p>
    </div>
    <div class="practitioner-account-section section-not-selected" #accountSectionTab (click)="SelectTab($event)" id="get-codes-and-support-section">
      <p>Get codes and support</p>
    </div>
  </div>
  <div id="practitioner-account-form-container">
    <div id="practitioner-account-main-part">
      <div id="practitioner-account-photo-section">
        <div id="upload-image-container">
          <img *ngIf="user.profileImageName === null" src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
          <img *ngIf="user.profileImageName !== null" src="../../assets/Profile-Images/{{user.profileImageName}}.png" />
          <input type="file" id="image-upload-element" (change)="ChooseNewProfileImage($event.target.files)" />
        </div>
        <p>Certified</p>
        <p>practitioner</p>
        <p>{{certificateLevel}}</p>
      </div>
      <div id="practitioner-account-form">
        <form id="practitioner-information-form" #personalInformationForm="ngForm" autocomplete="off">
          <div class="input-section">
            <div class="label-section">
              <label for="email">Email address:</label>
            </div>
            <div class="input-field-section">
              <input name="email" #inputField placeholder="Your email address." pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" type="email" required (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.email" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('email',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="firstName">First name:</label>
            </div>
            <div class="input-field-section">
              <input name="firstName" #inputField placeholder="Your first name." (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.firstName" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('firstName',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="lastName">Last name:</label>
            </div>
            <div class="input-field-section">
              <input name="lastName" #inputField placeholder="Your lastName." (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.lastName" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('lastName',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Gender">Gender:</label>
            </div>
            <div class="input-field-section" id="gender-radio-buttons-section" (click)="PreventEventPropagation($event)">
              <div class="gender-option">
                <input type="radio" name="Gender" (click)="SetGender($event, 'Male')" #inputField value="Male" disabled [attr.checked]="{'checked' : user.gender ==='Male'}" />
                <p>Male</p>
              </div>
              <div class="gender-option">
                <input type="radio" name="Gender" (click)="SetGender($event, 'Female')" #inputField value="Female" disabled [attr.checked]="{'checked' : user.gender ==='Female'}" />
                <p>Female</p>
              </div>
              <div class="gender-option">
                <input type="radio" name="Gender" (click)="SetGender($event, 'Other')" #inputField value="Other" disabled [attr.checked]="{'checked' : user.gender ==='Other'}" />
                <p>Other</p>
              </div>
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('Gender',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Region">Region:</label>
            </div>
            <div class="input-field-section">
              <div *ngFor="let region of user.regions" class="region-container">
                <p>{{region.regionName}} </p>
              </div>
            </div>
            <div class="edit-button-section">
              <button (click)="DisplayRegionsModal($event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Education">Education:</label>
            </div>
            <div class="input-field-section">
              <input name="Education" placeholder="Enter your education." #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.education" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('Education',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Position">Position / Profession:</label>
            </div>
            <div class="input-field-section">
              <input name="Position" placeholder="Enter your position." #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.position" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('Position',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="ActivitySector">Sector of activity:</label>
            </div>
            <div class="input-field-section">
              <input name="ActivitySector" placeholder="Enter your sector of activity." #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.sectorOfActivity" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('ActivitySector',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Age">Age:</label>
            </div>
            <div class="input-field-section">
              <input name="Age" placeholder="Enter your age." type="number" (click)="PreventEventPropagation($event)" #inputField [(ngModel)]="user.age" disabled />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('Age',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="MBCode">4-Letter Myer-Briggs*:</label>
            </div>
            <div class="input-field-section">
              <input name="MBCode" placeholder="Add your 4-Letter Myer-Briggs code." #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.myerBriggsCode" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('MBCode',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>
    <div id="submit-form-section">
      <div>

      </div>
      <div id="valid-changes-section">
        <button (click)="ChangeProfileData($event,personalInformationForm)">Valid changes</button>
      </div>
      <div id="see-privacy-image-block">
        <img src="../../assets/KP-logo-accessories--png/0-00-KP-Lock.svg" />
        <a>See privacy policy</a>
      </div>
    </div>
    <p id="myer-code-description-paragraph">* Not compulsory - To know your 4-Letter Myer-Briggs Type Indicator Score : <span>www.16personalities.com</span></p>
  </div>
</div>-->
<ng-container *ngIf="selectedTab == 'my-account-section'"><app-practitioner-my-account-section (errorMessage)="OnError($event)" [user]="user"></app-practitioner-my-account-section></ng-container>
<ng-container *ngIf="selectedTab == 'pro-details-section'"><app-practitioner-pro-details-section (errorMessage)="OnError($event)" [user]="user"></app-practitioner-pro-details-section></ng-container>
<ng-container *ngIf="selectedTab == 'servey-results-and-reports-section'">
  <div id="survey-results-and-reports-container"><app-practitioner-survey-results-and-reports [user]="user"></app-practitioner-survey-results-and-reports></div>
</ng-container>
<div id="certification-membership-section-container" *ngIf="selectedTab == 'certification-membership-section'">
  <app-certification-and-membership [user]="user"></app-certification-and-membership>
</div>
<div id="get-codes-container" *ngIf="selectedTab == 'get-codes-and-support-section'">
  <app-get-codes></app-get-codes>
</div>
<app-footer></app-footer>
