<app-navigation-bar></app-navigation-bar>
<app-page-title titleText="Practitioner account"></app-page-title>
<div id="error-message-container">
  <p>{{errorMessage}}</p>
</div>
<div id="practitioner-account-sections">
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'my-account-section', 'section-not-selected': selectedTab != 'my-account-section'}" #accountSectionTab (click)="SelectTab($event)" id="my-account-section">
    <p>My account</p>
  </div>
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'pro-details-section', 'section-not-selected': selectedTab != 'pro-details-section'}" #accountSectionTab (click)="SelectTab($event)" id="pro-details-section">
    <p>Pro details</p>
  </div>
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'survey-results-and-reports-section', 'section-not-selected': selectedTab != 'survey-results-and-reports-section'}" #accountSectionTab (click)="SelectTab($event)" id="survey-results-and-reports-section">
    <p>Codes, Survey & Reports</p>
  </div>
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'certification-membership-section', 'section-not-selected': selectedTab != 'certification-membership-section'}" #accountSectionTab (click)="SelectTab($event)" id="certification-membership-section">
    <p>Certification / Membership</p>
  </div>
  <div [ngClass]="{'practitioner-account-section': true, 'section-selected' : selectedTab == 'get-codes-and-support-section', 'section-not-selected': selectedTab != 'get-codes-and-support-section'}" #accountSectionTab (click)="SelectTab($event)" id="get-codes-and-support-section">
    <p>Get codes</p>
  </div>
</div>
<ng-container *ngIf="selectedTab == 'my-account-section'">
  <app-practitioner-my-account-section (errorMessage)="OnError($event)" [user]="user"></app-practitioner-my-account-section>
</ng-container>
<ng-container *ngIf="selectedTab == 'pro-details-section'">
  <app-practitioner-pro-details-section (errorMessage)="OnError($event)" [user]="user"></app-practitioner-pro-details-section>
</ng-container>
<ng-container *ngIf="selectedTab == 'survey-results-and-reports-section'">
  <div id="survey-results-and-reports-container">
    <app-practitioner-survey-results-and-reports [user]="user"></app-practitioner-survey-results-and-reports>
  </div>
</ng-container>
<div id="certification-membership-section-container" *ngIf="selectedTab == 'certification-membership-section'">
  <app-certification-and-membership [user]="user"></app-certification-and-membership>
</div>
<div id="get-codes-container" *ngIf="selectedTab == 'get-codes-and-support-section'">
  <app-get-codes [user]="user"></app-get-codes>
</div>
<app-footer></app-footer>
