#practitioner-account-sections {
  display: flex;
  width: 95%;
  height: 50px;
  margin:auto;
}

#error-message-container {
  max-width: 300px;
  height: auto;
  padding: 10px;
  margin: auto;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
  color: white;
  margin-bottom:20px;
}

#survey-results-and-reports-container {
  background-color: #9AC7EC;
  width: 95%;
  margin: auto;
  z-index: 1000;
  position: relative;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.4), -4px 3px 3px rgba(0,0,0,0.3);
  padding-top:30px;
  padding-bottom:30px;
  margin-bottom:30px;
  min-height:510px;
}

#certification-membership-section-container {
  background-color: #9AC7EC;
  width: 95%;
  margin: auto;
  z-index: 1000;
  position: relative;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.4), -4px 3px 3px rgba(0,0,0,0.3);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  min-height: 510px;
  padding-left:20px;
  padding-right:20px;
}

.practitioner-account-section {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .practitioner-account-section:hover {
    cursor: pointer;
    z-index: 1000;
  }

#get-codes-container {
  z-index: 1000;
  box-shadow: 1px 3px 3px rgba(0,0,0,0.4), -4px 3px 3px rgba(0,0,0,0.3);
  width:95%;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  margin-bottom:30px;
}

.section-selected {
  background-color: #9AC7EC;
  color: #006F91;
  box-shadow: 4px 0px 3px rgba(0,0,0,0.3), -4px 0px 3px rgba(0,0,0,0.3);
}

.section-not-selected {
  background-color: white;
  color: #006F91;
  box-shadow: 3px 0px 3px rgba(0,0,0,0.3), -3px 0px 3px rgba(0,0,0,0.3);
}

@media only screen and (min-width:810px) and (max-width:1000px) {
  #practitioner-account-sections {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width:320px) and (max-width:809px) {
  #practitioner-account-sections {
    font-size: 0.6rem;
  }

  .practitioner-account-section {
    text-align: center;
  }
}
