#actions-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

*::-webkit-scrollbar {
  width: 30px;
  /* margin: 5px; */
  height: 10px;
  -webkit-overflow-scrolling: auto;
}

#error-message-container {
  background-color: #e13636;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: auto;
  max-width: 330px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

#home-title {
  color: #006F91;
  margin: 20px;
  font-size: 4rem;
  text-align: center;
}

#actions-type-list {
  min-width: 330px;
  min-height: 200px;
  margin: 150px;
  background-color: #006F91;
}

.dropdown-option-row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: white;
  margin: 10px;
  color: #006F91;
  cursor: pointer;
}

  .dropdown-option-row * {
    pointer-events: none;
  }

.arrow-image {
  height: 20px;
  width: 20px;
  transform: rotate(-90deg);
  position: absolute;
  right: 10px;
  filter: invert(27%) sepia(67%) saturate(1682%) hue-rotate(166deg) brightness(95%) contrast(102%);
  cursor: pointer;
}

.actions {
  flex-flow: column;
}


.action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #006F91;
  cursor: pointer;
}
