<app-navigation-bar></app-navigation-bar>

<div id="error-message-container" *ngIf="pageHasError">
  <p>{{errorMessage}}</p>
</div>

<app-coupon-management-tools-page [couponCreationType]="couponCreationType" (hideErrorContainerEventEmitter)="EmittErrorContainerHideEvent($event)" (currentPageNameEmitter)="EmittCurrentPage($event)" (errorMessageEmitter)="EmittError($event)" *ngIf="backOfficeCurrentPageName == 'generate-coupon-page'"></app-coupon-management-tools-page>

<div id="actions-container" *ngIf="backOfficeCurrentPageName == 'home'">
  <h1 id="home-title">Please choose the action you want to perform</h1>
  <div id="actions-type-list">
    <div class="action-type-container">
      <div class="dropdown-option-row">
        <button class="action-type-button">Code management actions</button>
        <img class="arrow-image" src="../../assets/KP-logo-accessories--png/0-00-Arrow-left.png" />
      </div>
    </div>
    <div class="action-type-container">
      <div class="dropdown-option-row" (click)="ToggleActionsVisibility($event)">
        <button  class="action-type-button">Discount coupons management actions</button>
        <img  class="arrow-image" src="../../assets/KP-logo-accessories--png/0-00-Arrow-left.png" />
      </div>
      <div class="actions" style="display:none;" >
        <button class="action" (click)="DisplayGeneralCouponCreationPage()">General coupon creation</button>
        <button class="action" (click)="DisplayAssociatedCouponCreationPage()">Associated coupon creation</button>
      </div>
    </div>
    <div class="action-type-container">
      <div class="dropdown-option-row">
        <button class="action-type-button">Statistics gathering actions</button>
        <img class="arrow-image" src="../../assets/KP-logo-accessories--png/0-00-Arrow-left.png" />
      </div>

    </div>
    <div class="action-type-container">
      <div class="dropdown-option-row" (click)="ToggleActionsVisibility($event)">
        <button class="action-type-button">User accounts management actions</button>
        <img class="arrow-image" src="../../assets/KP-logo-accessories--png/0-00-Arrow-left.png" />
      </div>
      <div class="actions" style="display:none;" >
        <button class="action">Assign practitioner status</button>
        <button class="action">Cancel practitioner status</button>
        <button class="action">Change practitioner's certification level</button>
        <button class="action">Coupon modification</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
