<div id="coupon-management-container">
  <div id="add-associated-email-modal-container" *ngIf="addAssociatedEmailModalIsVisible == true">
    <div id="add-associated-email-modal">
      <input [(ngModel)]="emailOfNewUserToAssociate" placeholder="Enter email" />
      <button (click)="AssociateNewUser($event)">Add new email</button>
    </div>
  </div>

  <div class="back-to-home-page-container">
    <button (click)="GoBackToHomeBackOfficePage()">Back to actions</button>
  </div>

  <div class="create-coupon-action-container" *ngIf="couponCreationType == 'general'">
    <div class="coupons-list">
      <div class="coupon-creation-row" *ngFor="let generalCoupon of listOfGeneralCoupons">
        <p>Coupon body</p>
        <input [(ngModel)]="generalCoupon.couponBody" type="text" required />
        <p>Discount rate</p>
        <input [(ngModel)]="generalCoupon.discountRate" type="number" required min="1" max="99" />
      </div>
    </div>
    <button (click)="AddNewGeneralCoupon()" id="add-new-general-coupon-button">Add new coupon</button>
    <button (click)="CreateGeneralCoupons()" id="create-new-general-coupons-button">Create coupons</button>
  </div>

  <div class="create-coupon-action-container" *ngIf="couponCreationType == 'associated'">
    <div class="coupons-list" id="associated-coupons-list">
      <div class="coupon-creation-row">
        <p>Coupon body</p>
        <input [(ngModel)]="associatedCoupon.couponBody" type="text" required />
        <p>Associated users</p>
        <div class="emails-container" *ngIf="associatedCoupon.associatedUsersEmails.length > 0">
          <span *ngFor="let associatedUserEmail of associatedCoupon.associatedUsersEmails">{{associatedUserEmail}}</span>
        </div>
        <div class="emails-container" *ngIf="associatedCoupon.associatedUsersEmails.length == 0">
          <span>No emails added</span>
        </div>
        <button id="associate-new-user-button" (click)="DisplayAddAssociatedEmailModal()">Associate new user</button>
        <p>Discount rate (in %)</p>
        <input [(ngModel)]="associatedCoupon.discountRate" type="number" required min="1" max="99" />
        <p>Number of usages</p>
        <input [(ngModel)]="associatedCoupon.numberOfUsages" type="number" required />
      </div>
    </div>
    <button (click)="CreateAssociatedCoupon()" id="create-new-general-coupons-button">Create coupon</button>
  </div>
</div>
