#loading-screen-gif-container
{
    height:100vh;
    width:100%;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
}

#loading-gif {
  pointer-events: none;
}

  #loading-screen-gif-container img {
    height: 300px;
    width: 400px;
  }

#download-your-report-button {
  padding: 20px;
  background-color: #006F91;
  color: white;
  border-radius: 5px;
}
