<app-navigation-bar></app-navigation-bar>
<app-page-title titleText="The survey"></app-page-title>
<div id="survey-third-stage-container">
  <div id="title-section">
    <div class="prev-step-button-container">
      <button class="button-enabled" *ngIf="isDescriptionStage" (click)="ReturnToSecondStage()"> <img src="../../assets/KP-logo-accessories--png/00-0-Drop-270.png" /> To second step </button>
      <button class="button-enabled" *ngIf="isSelectionStage" (click)="GoToDescriptionStage()"> <img src="../../assets/KP-logo-accessories--png/00-0-Drop-270.png" /> Back </button>
      <button class="button-enabled" *ngIf="isValidationStage" (click)="GoToSelectionStage()"> <img src="../../assets/KP-logo-accessories--png/00-0-Drop-270.png" /> Back </button>
    </div>
    <div id="step-title-container">
      <p>
        3rd step
      </p>
      <p>Among theses values, choose and rank your top 9</p>
    </div>
    <div class="step-validation-container">
      <button [ngClass]="{'button-enabled':numberOfValuesSelected == 9,'button-disabled':numberOfValuesSelected < 9}" (click)="GoToValidationStage()" *ngIf="isSelectionStage">Survey validation <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" /> </button>
      <button class="button-enabled" *ngIf="isDescriptionStage" (click)="GoToSelectionStage()">To selection <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" /> </button>
      <button class="button-enabled" (click)="UploadSurveyResults()" *ngIf="isValidationStage">Survey validation <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" /></button>
    </div>
  </div>
</div>
<div *ngIf="isDescriptionStage" id="description-page-container">
  <div class="go-to-selection-stage-button">

  </div>
  <div id="description-page-text">
    <p>{{'Survey.ThirdStage.FirstParagraph' | translate}}</p><br />
  </div>
  <div class="go-to-selection-stage-button">
    <button (click)="GoToSelectionStage($event)"><img src="../../assets/KP-logo-accessories--png/0-00-Arrow-right.png" /></button>
  </div>
</div>
<div id="validation-stage-container" *ngIf="isValidationStage">
  <div id="validation-stage-main-section">
    <div id="ideogram-table-results">
      <ul>
        <li *ngFor="let value of selectedValues;index as i">
          <span>{{i + 1}}</span>
          <div class="validation-stage-ideogram-section">
            <span>{{value.character}}</span>
            <span>{{'Values.' + value.character + '.Title' | translate}}</span>
          </div>
        </li>
      </ul>
    </div>
    <div id="validation-stage-texts">
      <p>{{'Survey.ThirdStage.ValidationStepTexts.FirstParagraph' | translate}}</p>
      <p>{{'Survey.ThirdStage.ValidationStepTexts.SecondParagraph' | translate}}</p>
      <p>{{'Survey.ThirdStage.ValidationStepTexts.ThirdParagraph' | translate}}</p>
      <p>{{'Survey.ThirdStage.ValidationStepTexts.FourthParagraph' | translate}}</p>
    </div>
  </div>
</div>
<div id="body-section" *ngIf="isSelectionStage" cdkDropListGroup>
  <div id="value-modal" *ngIf="valueModalIsVisible">
    <div id="value-modal-ideogram-section">
      <div #valueModalIdeogram id="value-modal-ideogram" [ngClass]="{'value-is-important':currentClickedValueImportance == 'important'}">
        {{currentClickedValueCharacter | translate}}
      </div>
    </div>
    <p id="value-modal-title">
      {{'Values.' + currentClickedValueCharacter + '.Title' | translate}}
    </p>
    <p id="value-modal-description">
      {{'Values.' + currentClickedValueCharacter + '.Definition' | translate}}
    </p>
    <img id="close-modal-icon" (click)="CloseModal($event)" src="../../assets/Images/close.svg" />
  </div>
  <div id="body-section-values-from-previous-step-container">
    <img *ngIf="currentDeviceIsIOS" (click)="ScrollUp($event,importantValuesList)" class="arrow-up" src="../../assets/KP-logo-accessories--png/0-00-Arrow-left.png" />
    <div cdkDropList #importantValuesList [cdkDropListData]="values" (cdkDropListDropped)="drop($event)" id="important-values-box">
      <div cdkDrag class="important-value" *ngFor="let value of values;index as i" (click)="DisplayValueModal($event, value)">
        <span>{{value.character}}</span>
        <span>{{'Values.' + value.character + '.Title' | translate}}</span>
      </div>
    </div>
    <img *ngIf="currentDeviceIsIOS" (click)="ScrollDown($event,importantValuesList)" class="arrow-down" src="../../assets/KP-logo-accessories--png/0-00-Arrow-right.png" />
  </div>
  <div id="table-section">
    <div class="priorities-container">
      <div class="values-priorities-column-first">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
      </div>
      <div class="values-priorities-column-right-part">
        <div cdkDropList [cdkDropListData]="firstRowArray" (cdkDropListDropped)="drop($event)">
          <div *ngIf="firstRowArray[0] != undefined" (click)="DisplayValueModal($event, firstRowArray[0])" cdkDrag class="table-cell" [attr.data-priority]="1">
            <p>{{firstRowArray[0].character}}</p>
            <p>{{'Values.' + firstRowArray[0].character + '.Title' | translate}}</p>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="secondRowArray" (cdkDropListDropped)="drop($event)">
          <div *ngIf="secondRowArray[0] != undefined" (click)="DisplayValueModal($event, secondRowArray[0])" cdkDrag class="table-cell" [attr.data-priority]="2">
            <p>{{secondRowArray[0].character}}</p>
            <p>{{'Values.' + secondRowArray[0].character + '.Title' | translate}}</p>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="thirdRowArray" (cdkDropListDropped)="drop($event)">
          <div *ngIf="thirdRowArray[0] != undefined" (click)="DisplayValueModal($event, thirdRowArray[0])" cdkDrag class="table-cell" [attr.data-priority]="3">
            <p>{{thirdRowArray[0].character}}</p>
            <p>{{'Values.' + thirdRowArray[0].character + '.Title' | translate}}</p>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="fourthRowArray" (cdkDropListDropped)="drop($event)">
          <div *ngIf="fourthRowArray[0] != undefined" (click)="DisplayValueModal($event, fourthRowArray[0])" cdkDrag class="table-cell" [attr.data-priority]="4">
            <p>{{fourthRowArray[0].character}}</p>
            <p>{{'Values.' + fourthRowArray[0].character + '.Title' | translate}}</p>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="fifthRowArray" (cdkDropListDropped)="drop($event)">
          <div *ngIf="fifthRowArray[0] != undefined" (click)="DisplayValueModal($event, fifthRowArray[0])" cdkDrag class="table-cell" [attr.data-priority]="5">
            <p>{{fifthRowArray[0].character}}</p>
            <p>{{'Values.' + fifthRowArray[0].character + '.Title' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="priorities-container">
      <div class="values-priorities-column-second">
        <span>6</span>
        <span>7</span>
        <span>8</span>
        <span>9</span>
      </div>
      <div class="values-priorities-column-right-part">
        <div cdkDropList [cdkDropListData]="sixthRowArray" (cdkDropListDropped)="drop($event)">
          <div *ngIf="sixthRowArray[0] != undefined" (click)="DisplayValueModal($event, sixthRowArray[0])" cdkDrag class="table-cell" [attr.data-priority]="6">
            <p>{{sixthRowArray[0].character}}</p>
            <p>{{'Values.' + sixthRowArray[0].character + '.Title' | translate}}</p>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="seventhRowArray" (cdkDropListDropped)="drop($event)">
          <div *ngIf="seventhRowArray[0] != undefined" (click)="DisplayValueModal($event, seventhRowArray[0])" cdkDrag class="table-cell" [attr.data-priority]="7">
            <p>{{seventhRowArray[0].character}}</p>
            <p>{{'Values.' + seventhRowArray[0].character + '.Title' | translate}}</p>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="eighthRowArray" (cdkDropListDropped)="drop($event)">
          <div *ngIf="eighthRowArray[0] != undefined" (click)="DisplayValueModal($event, eighthRowArray[0])" cdkDrag class="table-cell" [attr.data-priority]="8">
            <p>{{eighthRowArray[0].character}}</p>
            <p>{{'Values.' + eighthRowArray[0].character + '.Title' | translate}}</p>
          </div>
        </div>
        <div cdkDropList [cdkDropListData]="ninethRowArray" (cdkDropListDropped)="drop($event)">
          <div *ngIf="ninethRowArray[0] != undefined" (click)="DisplayValueModal($event, ninethRowArray[0])" cdkDrag class="table-cell" [attr.data-priority]="9">
            <p>{{ninethRowArray[0].character}}</p>
            <p>{{'Values.' + ninethRowArray[0].character + '.Title' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
