<app-navigation-bar></app-navigation-bar>
<app-page-title titleText="The survey"></app-page-title>
<div id="kp-survey-page-welcome-to-perspectives-survey-section">
  <div id="kp-survey-page-welcome-to-perspectives-survey-section-image">
    <img src="../../assets/Images/KP-Perspectives-Pie.png"/>
  </div>
  <div id="kp-survey-page-welcome-to-perspectives-survey-section-texts">
    <p>
      Welcome to the <br />
      Values Perspectives survey
    </p>
    <p>
      and see how values act in your day-to-day life, <br />
      at home or at work
    </p>
  </div>
</div>
<div id="kp-survey-page-perspectives-survey-description-section">
  <div id="kp-survey-page-perspectives-survey-description-section-lock-icon">
    <img src="../../assets/KP-logo-accessories--png/0-00-KP-Lock.jpg" />
  </div>
  <div id="kp-survey-page-perspectives-survey-description-section-text">
    <p>
      The results of the survey are the property of the person who takes it. In order to further explore and have insights and teachings from
      the results, he or she can choose to share them with the values practitioner who provided the code that was used. Or else he or she can
      choose a certified practitioner from the list proposed by Kairios Praxis. The data will be kept anonymously for statistical purposes only.
      Once completed, the results of the survey (online profile and perspectives, downloading personal Values Perspective Report) can be
      accessed anytime by entering email and password.
      <button class="kp-leaf-button">
        <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
      </button>
    </p>


  </div>

</div>
<div id="kp-survey-page-buttons-section">
  <button class="the-survey-section-button">
    <span>I want to know more on values</span>
    <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
  </button>
  <button class="the-survey-section-button">
    <span>I have a code</span>
    <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
  </button>
  <button class="the-survey-section-button">
    <span>I purchase a code</span>
    <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
  </button>
</div>
<div id="kp-survey-page-cards-section">
  <div id="kp-cards-section-indentify-your-values" class="kp-cards-section-card">
    <p>Identify your values</p>
    <p>
      This assessment helps you identify
      your values.
      The values you hold drive the
      priorities you set in your life.
      Typically, relatively few key values
      characterize how we select and
      organize information, how we make
      choices and decisions, and how
      we act. This set of top values and
      their order of importance tend to be
      unique for each person. We are not
      always conscious of what values we
      hold. Having a full awareness and
      understanding of your unique set of
      highest-priority values will enhance
      the quality of how you live your life.
    </p>
  </div>
  <div id="kp-cards-section-how-does-it-work" class="kp-cards-section-card">
    <p>How does it work?</p>
    <p>
      The assessment will ask you to
      choose between values. We ask
      you to respond to the choices as
      genuinely as you can. The survey
      requires about 45 minutes for most
      people to complete, some people
      take longer. The time you require
      does not affect your results.
    </p>
    <p>
      There are no “right” or “wrong”
      answers. The Values Perspective
      survey and report do not make
      judgments concerning the values
      you select, nor do they suggest
      what your beliefs should be. Your
      responses and your results are
      confidential and will not be given to
      anyone except you.
    </p>
  </div>
  <div id="kp-cards-section-what-do-i-get" class="kp-cards-section-card">
    <p>What do I get?</p>
    <p>
      When you have completed the
      survey, you will get:
    </p>
    <p>
      <img src="../../assets/KP-logo-accessories--png/00-0-Drop-045-f.png"/>
      Online: a quick outook of your
      profile and perspectives
    </p>
    <p>
      <img src="../../assets/KP-logo-accessories--png/00-0-Drop-045-f.png" />
      By mail: the Values Perspective
      Report
    </p>
    <p>
      The Values Perspective Report will
      provide you with insights into how
      your life actually works, and help
      you determine where your attention
      and energy should concentrate
      to get effective development for
      yourself, your group, or your entire
      organization.
    </p>
  </div>
</div>
<div id="kp-survey-page-whats-next-section">
  <div id="kp-survey-page-whats-next-section-texts">
    <p>What next?</p>
    <p>
      It is very interesting to continue the process of your values’ exploration in the company of a
      “certified practitioner”. You will then know more about how values operate, what are the useful and
      effective lessons to be learned from the survey...
    </p>
    <p>
      If you do not already have a values practitioner to continue with, you can choose one from the list
      below. You are given the choice between a 45-minute debriefing or an in-depth interview to further
      explore and understand your own value system.
    </p>
    <button id="kp-survey-page-whats-next-section-choose-practitioner-button">
      <span>Choose a practitioner</span>
      <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png"/>
    </button>
  </div>
  <div id="kp-survey-page-whats-next-section-image">
    <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.svg"/>
  </div>
</div>
<div id="kp-survey-page-our-privacy-policy-section">
  <div id="kp-survey-page-our-privacy-policy-section-image">
    <img src="../../assets/KP-logo-accessories--png/0-00-KP-Lock.svg"/>
  </div>
  <div id="kp-survey-page-our-privacy-policy-section-texts">
    <p>Our privacy policy</p>
    <p>
      The results of the survey are the property of the person who takes it. In order to further
      explore and have insights and teachings from the results, he or she can choose to share
      them with the values practitioner who provided the code that was used. Or else he or she can
      choose a certified practitioner from the list proposed by Kairios Praxis. The data will be kept
      anonymously for statistical purposes only in compliance with the
      <a>European GDPR regulation.</a>
      Once completed, the results of the survey (online profile and perspectives, downloading
      personal Values Perspective Report) can be accessed anytime by entering email and password.
    </p>
  </div>
</div>
<app-footer></app-footer>
