  <div id="user-authorization-operations-container" *ngIf="user != undefined && userAuthorizationOperationsContainerIsVisible && !isMobile">
  <button (click)="RedirectToPersonalAccount()" *ngIf="userRole == 'user'">To personal account</button>
  <button (click)="RedirectToPractitionerAccount()" *ngIf="userRole == 'practitioner'">To practitioner account</button>
  <button (click)="RedirectToBackOffice()" *ngIf="userRole == 'admin'">To back office</button>
  <button (click)="LogOutUser()">Log out</button>
</div>
  <div id="user-authorization-operations-modal" *ngIf="user != undefined && userAuthorizationOperationsContainerIsVisible && isMobile">
    <div id="user-authorization-operations-container-mobile" *ngIf="user != undefined && userAuthorizationOperationsContainerIsVisible">
      <button (click)="RedirectToPersonalAccount()" *ngIf="userRole == 'user'">To personal account</button>
      <button (click)="RedirectToPractitionerAccount()" *ngIf="userRole == 'practitioner'">To practitioner account</button>
      <button (click)="RedirectToBackOffice()" *ngIf="userRole == 'admin'">To back office</button>
      <button (click)="LogOutUser()">Log out</button>
    </div>
  </div>
<div id="languages-modal-container" *ngIf="languageModalIsVisible">
  <img (click)="SelectLanguage($event)" id="english-language-image" class="language-image" src="../../assets/Flags/enFlag.jpg" />
  <img (click)="SelectLanguage($event)" id="french-language-image"  class="language-image" src="../../assets/Flags/frFlag.png" />
  <img (click)="SelectLanguage($event)" id="greek-language-image"  class="language-image" src="../../assets/Flags/grFlag.png" />
  <img (click)="SelectLanguage($event)" id="german-language-image"  class="language-image" src="../../assets/Flags/gerFlag.png" />
  <img (click)="SelectLanguage($event)" id="spanish-language-image" class="language-image" src="../../assets/Flags/spFlag.png" />
  <img (click)="SelectLanguage($event)" id="italian-language-image" class="language-image" src="../../assets/Flags/itFlag.png" />
  <img (click)="SelectLanguage($event)" id="russian-language-image" class="language-image" src="../../assets/Flags/ruFlag.png" />
</div>
<nav id="navigation-bar" *ngIf="!isMobile">
  <div id="navigation-bar-kp-logo">
    <img (click)="RedirectToHomePage()" src="../../assets/KP-logotype/KP-logotype-006F91-empty.png" />
  </div>
  <div id="navigation-bar-main-part">
    <div id="navigation-bar-main-part-top-section">
      <div id="sign-in-section">
        <div *ngIf="user">
          <img src="../../assets/Images/profile-icon.png" height="30" width="30" />
          <button (click)="DisplayUserAuthorizationManipulationModal($event)" class="user-email-button" *ngIf="user.professionalEmail == null">{{user.email}}</button>
          <button (click)="DisplayUserAuthorizationManipulationModal($event)" class="user-email-button" *ngIf="user.professionalEmail != null">{{user.professionalEmail}}</button>
        </div>
        <div *ngIf="!user">
          <img src="../../assets/Images/profile-icon.png" height="30" width="30" />
          <button (click)="RedirectToSignInPage()" id="signin-button">Sign in</button>
        </div>
      </div>
      <div id="languages-container">
        <!--<ul>
    <li>
      <img src="../../assets/Flags/enFlag.jpg" />
    </li>
    <li>
      <img src="../../assets/Flags/frFlag.png" />
    </li>
    <li>
      <img src="../../assets/Flags/grFlag.png" />
    </li>
    <li>
      <img src="../../assets/Flags/gerFlag.png" />
    </li>
    <li>
      <img src="../../assets/Flags/spFlag.png" />
    </li>
    <li>
      <img src="../../assets/Flags/itFlag.png" />
    </li>
    <li>
      <img src="../../assets/Flags/ruFlag.png" />
    </li>
  </ul>-->
        <img (click)="DisplayLanguageModal($event)"  class="language-image" *ngIf="languageSelected == 'english'" src="../../assets/Flags/enFlag.jpg" />
        <img (click)="DisplayLanguageModal($event)"  class="language-image" *ngIf="languageSelected == 'french'" src="../../assets/Flags/frFlag.jpg" />
        <img (click)="DisplayLanguageModal($event)" class="language-image" *ngIf="languageSelected == 'greek'" src="../../assets/Flags/grFlag.jpg" />
        <img (click)="DisplayLanguageModal($event)" class="language-image" *ngIf="languageSelected == 'german'" src="../../assets/Flags/gerFlag.jpg" />
        <img (click)="DisplayLanguageModal($event)"  class="language-image" *ngIf="languageSelected == 'spanish'" src="../../assets/Flags/spFlag.jpg" />
        <img (click)="DisplayLanguageModal($event)"  class="language-image" *ngIf="languageSelected == 'italian'" src="../../assets/Flags/itFlag.jpg" />
        <img (click)="DisplayLanguageModal($event)"  class="language-image" *ngIf="languageSelected == 'russian'" src="../../assets/Flags/ruFlag.jpg" />
        <img id="arrow-image"  src="../../assets/KP-logo-accessories--png/0-00-Arrow-left.png"/>
      </div>
    </div>
    <div id="navigation-bar-actions">
      <ul>
        <li [ngClass]="{'current-tab': currentTabName == 'survey'}" (click)="RedirectToSurveyPage()">THE SURVEY</li>
        <li [ngClass]="{'current-tab': currentTabName == 'value'}">VALUES?</li>
        <li [ngClass]="{'current-tab': currentTabName == 'services'}">SERVICES</li>
        <li [ngClass]="{'current-tab': currentTabName == 'newsAndAgenda'}">NEWS / AGENDA</li>
        <li [ngClass]="{'current-tab': currentTabName == 'resources'}">RESOURCES</li>
        <li [ngClass]="{'current-tab': currentTabName == 'prosAccess'}" (click)="RedirectToPractitionerAccount()">PROS-ACCESS</li>
        <li [ngClass]="{'current-tab': currentTabName == 'whoWeAre'}" (click)="RedirectToPractitionersDirectory()">WHO WE ARE?</li>
      </ul>
    </div>
  </div>

</nav>

<nav id="navigation-bar-mobile" *ngIf="isMobile">
  <button id="actions-menu-button" (click)="DisplayActionsSideBar($event)">
    <img src="../../assets/Images/Side-menu-icon.png" />
  </button>
    <!--<img id="kp-logo" src="../../assets/KP-logotype/KP-logotype-006F91-empty.png" />-->
  <div id="user-account-manipulation-container">
    <div *ngIf="user">
      <img src="../../assets/Images/profile-icon.png" height="30" width="30" />
      <button (click)="DisplayUserAuthorizationManipulationModal($event)" class="user-email-button" *ngIf="user.professionalEmail == null">{{user.email}}</button>
      <button (click)="DisplayUserAuthorizationManipulationModal($event)" class="user-email-button" *ngIf="user.professionalEmail != null">{{user.professionalEmail}}</button>
    </div>
    <div *ngIf="!user">
      <img src="../../assets/Images/profile-icon.png" height="30" width="30" />
      <button (click)="RedirectToSignInPage()" id="signin-button">Sign in</button>
    </div>
  </div>
  <button id="languages-menu-button" (click)="DisplayLanguagesSideBar($event)">
    <img src="../../assets/Images/Globe-icon.png" />
  </button>
</nav>

<div id="languages-side-bar-modal" *ngIf="languagesSideBarIsVisible">
  <div id="languages-side-bar" (click)="LanguagesSideBarClick($event)">
    <ul id="languages">
      <li class="side-bar-language">
        <img src="../../assets/Flags/enFlag.jpg"/>
        <span>English</span>
      </li>
      <li class="side-bar-language">
        <img src="../../assets/Flags/frFlag.png" />
        <span>Français</span>
      </li>
      <li class="side-bar-language">
        <img src="../../assets/Flags/grFlag.png" />
        <span>Ελληνικά</span>
      </li>
      <li class="side-bar-language">
        <img src="../../assets/Flags/gerFlag.png" />
        <span>Deutsche</span>
      </li>
      <li class="side-bar-language">
        <img src="../../assets/Flags/spFlag.png" />
        <span>Spanisch</span>
      </li>
      <li class="side-bar-language">
        <img src="../../assets/Flags/itFlag.png" />
        <span>Italiana</span>
      </li>
      <li class="side-bar-language">
        <img src="../../assets/Flags/ruFlag.png" />
        <span>Русский</span>
      </li>
    </ul>
  </div>
</div>

<div id="actions-side-bar-modal" *ngIf="actionsSideBarIsVisible">
  <div id="actions-side-bar" (click)="ActionsSideBarClick($event)">
    <ul id="actions">
      <li (click)="RedirectToSurveyPage()" class="side-bar-action">
        <a>The Survey</a>
      </li>
      <li class="side-bar-action">
        <a>Values?</a>
      </li>
      <li class="side-bar-action">
        <a>Services</a>
      </li>
      <li class="side-bar-action">
        <a>News / Agenda</a>
      </li>
      <li class="side-bar-action">
        <a>Resources</a>
      </li>
      <li (click)="RedirectToPractitionerAccount()" class="side-bar-action">
        <a>Pros-access</a>
      </li>
      <li (click)="RedirectToPractitionersDirectory()" class="side-bar-action">
        <a>Who we are?</a>
      </li>
    </ul>
  </div>
</div>
