#navigation-bar {
  display: flex;
  height: 100px;
}

#user-account-manipulation-container {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#navigation-bar-kp-logo {
  cursor: pointer;
}

#user-authorization-operations-container-mobile button {
  color: #006F91;
}

  #user-authorization-operations-container-mobile button:hover {
    color: white;
    background-color: #006F91;
  }

#user-authorization-operations-modal {
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

#user-authorization-operations-container-mobile {
  display: flex;
  flex-flow: column;
  background-color: #9ac7ec;
  width: 150px;
  height: max-content;
  margin-top: 40px;
}

.current-tab {
  background-color: #006F91;
  color: white;
  padding: 5px;
}

#sign-in-section {
  min-width: max-content;
  height: max-content;
  margin-top: 10px;
  margin-right: 10px;
}

#user-authorization-operations-container button {
  color: #006F91;
}

  #user-authorization-operations-container button:hover {
    color: white;
    background-color: #006F91;
  }

#user-authorization-operations-container {
  position: absolute;
  display: flex;
  flex-flow: column;
  background-color: #9ac7ec;
  top: 40px;
  right: 55px;
  width: 150px;
}

.user-email-button {
  text-decoration: underline;
  color: #006F91;
  margin-right: 10px;
}

.language-image {
  height: 20px;
  width: 30px;
  cursor: pointer;
}

#languages-modal-container {
  height: max-content;
  display: flex;
  flex-flow: column;
  position: absolute;
  width: max-content;
  right: 13px;
  top: 50px;
  background-color: #9ac7ec;
  border: 2px solid #006F91;
  padding: 5px;
}

  #languages-modal-container img {
    height: 20px;
    width: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

    #languages-modal-container img:hover {
      box-shadow: 0px 0px 3px black;
      cursor: pointer;
    }

#arrow-image {
  height: 20px;
  width: 20px;
  transform: rotate(-90deg);
  filter: invert(30%) sepia(96%) saturate(588%) hue-rotate(152deg) brightness(94%) contrast(104%);
}

#sign-in-section img {
  margin-right: 10px;
}

#sign-in-section > div {
  display: flex;
  height: 30px;
  line-height: 30px;
}

#navigation-bar-main-part-top-section {
  display: flex;
  justify-content: flex-end;
}

#signin-button {
  text-decoration: underline;
  color: #006F91;
}

#navigation-bar-kp-logo {
  width: 8%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

  #navigation-bar-kp-logo img {
    width: 90px;
    height: 90px;
  }

#languages-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

  #languages-container ul {
    display: flex;
    list-style: none;
    flex-flow: row;
  }

  #languages-container li img {
    width: 25px;
    height: 15px;
    margin-right: 10px;
  }

    #languages-container li img:hover {
      cursor: pointer;
      box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    }

#navigation-bar-actions {
  width: 100%;
  display: flex;
  align-items: center;
}

  #navigation-bar-actions ul {
    display: flex;
    list-style: none;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 0px;
    width: 100%;
    font-family: barlowSemiCondensedMedium;
    color: #187293;
  }

    #navigation-bar-actions ul li {
      padding: 10px;
      cursor: pointer;
    }

@media only screen and (min-width:768px) {
  #navigation-bar-actions ul li {
    padding: 5px;
  }
}

#navigation-bar-actions ul li:hover {
  background-color: #006F91;
  color: white;
}

#navigation-bar-main-part {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#navigation-bar-main-part {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

  #navigation-bar-main-part div {
    flex-grow: 1;
  }

#navigation-bar-mobile {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}

#actions-menu-button {
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-left: 10px;
  background: transparent;
  border: none;
}

  #actions-menu-button img {
    height: 100%;
    width: 100%;
    filter: invert(30%) sepia(96%) saturate(588%) hue-rotate(152deg) brightness(94%) contrast(104%);
  }

#kp-logo {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

#languages-menu-button {
  width: 40px;
  height: 35px;
  background: transparent;
  margin-top: auto;
  margin-right: 10px;
  border: none;
}

  #languages-menu-button img {
    height: 100%;
    width: 100%;
    filter: invert(30%) sepia(96%) saturate(588%) hue-rotate(152deg) brightness(94%) contrast(104%);
  }

#actions-side-bar-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  z-index: 1501;
}

#languages-side-bar-modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  z-index: 1501;
}

#actions-side-bar {
  position: fixed;
  height: auto;
  width: 40%;
  top: 0;
  background-color: #006F91;
  margin-left: 50px;
  z-index: 500;
}

#languages-side-bar {
  position: fixed;
  height: auto;
  width: 40%;
  top: 0;
  right: 50px;
  background-color: #006F91;
  z-index: 500;
}

#actions {
  height: auto;
  color: white;
  font-family: barlowSemiCondensedMedium;
}

#languages {
  height: auto;
  color: white;
  font-family: barlowSemiCondensedMedium;
}

.side-bar-action {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-bar-language {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.side-bar-action:hover {
  background-color: white;
  color: #006F91;
  cursor: pointer;
}

.side-bar-language:hover {
  background-color: white;
  color: #006F91;
  cursor: pointer;
}

.side-bar-language img {
  width: 40px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.side-bar-action:not(.side-bar-action:last-child) {
  border-bottom: 1px solid white;
}

.side-bar-language:not(.side-bar-language:last-child) {
  border-bottom: 1px solid white;
}
