<nav id="navigation-bar">
  <div id="navigation-bar-kp-logo">
    <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.png" />
  </div>
  <div id="navigation-bar-main-part">
    <div id="languages-container">
      <ul>
        <li>
          <img src="../../assets/Flags/enFlag.jpg" />
        </li>
        <li>
          <img src="../../assets/Flags/frFlag.png" />
        </li>
        <li>
          <img src="../../assets/Flags/grFlag.png" />
        </li>
        <li>
          <img src="../../assets/Flags/gerFlag.png" />
        </li>
        <li>
          <img src="../../assets/Flags/spFlag.png" />
        </li>
        <li>
          <img src="../../assets/Flags/itFlag.png" />
        </li>
        <li>
          <img src="../../assets/Flags/ruFlag.png" />
        </li>
      </ul>
    </div>
    <div id="navigation-bar-actions">
      <ul>
        <li>THE SURVEY</li>
        <li>VALUES?</li>
        <li>THE METHOD</li>
        <li>THE BLOG</li>
        <li>PRACTITIONERS</li>
        <li>RESOURCES</li>
        <li>SIGN IN</li>
        <li>PROS-ACCESS</li>
      </ul>
    </div>
  </div>
  
</nav>
