

#kp-values-in-action {
  height: 300px;
  width: 100%;
  display: flex;
  background-color: #006F91;
  background-image: url('../../assets/KP-logotype/KP-logotype-Bk-empty.svg');
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-x: right;
  flex-flow: column;
  margin-top: 10px;
}

#kp-values-in-action-kp-text {
  color: white;
  font-size: 8vw;
  font-family: barlowSemiCondensedThin;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  line-height: 120px;
  margin-top: 50px;
}

#kp-values-in-action-values-text {
  width: 70%;
  color: white;
  font-family: barlowSemiCondensedBold;
  font-size: 4vw;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}


.kp-main-page-even-section {
  height: 350px;
  display: flex;
}

.kp-main-page-even-section-image {
  height: 100%;
  width: 35%;
  padding-left: 50px;
}

.kp-main-page-even-section-texts {
  display: flex;
  flex-flow: column;
  margin-top: 15px;
  font-family: barlowSemiCondensedLight;
  color: #187293;
  width: 65%;
}



#kp-vpm-header {
  font-family: barlowSemiCondensedLight;
  font-size: 4vw;
  color: #187293;
  line-height: 60px;
}

#kp-vpm-description {
  font-family: barlowSemiCondensedLight;
  font-size: 1.3vw;
  color: #187293;
  width: 89%;
  margin-top: 10px;
}

.kp-leaf-button {
  width: 55px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #187293;
  border: none;
  margin-top: 10px;
}

  .kp-leaf-button img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.6);
  }

#kp-the-values-perspectives-survey {
  display: flex;
  height: 350px;
}

#kp-vps-texts {
  width: 75%;
  height: calc(100% - .5px);
  background-color: #9AC7EC;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: flex-end;
  text-align: right;
  font-family: barlowSemiCondensedLight;
  color: #187293;
  padding-right: 30px;
}

#kp-vps-texts-header {
  font-size: 3.9vw;
  line-height: 60px;
}

#kp-vps-texts-description {
  font-size: 1.8vw;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#kp-vps-image {
  width: 25%;
  height: 100%;
}

#perspectives-wheel img {
  height: 300px;
  width: 300px;
}

#kp-blog-section-texts {
  align-items: flex-start;
  justify-content: center;
}

  #kp-blog-section-texts p:first-child {
    font-size: 3.9vw;
  }

  #kp-blog-section-texts p:last-child {
    font-size: 1.4vw;
  }

#kp-blog-section-picture {
  filter: invert(31%) sepia(99%) saturate(438%) hue-rotate(150deg) brightness(97%) contrast(87%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
}

  #kp-blog-section-picture img {
    margin-top: 20px;
    margin-right: 20px;
    width: 350px;
    height: 350px;
  }

#kp-main-page-slideshow-container {
  height: 350px;
  width: 100%;
  display: flex;
  flex-flow: row;
}

#kp-main-page-slideshow {
  height: 100%;
  width: 90%;
  display: flex;
  flex-flow: row;
  margin-left: auto;
  margin-right: auto;
}

.slide {
  flex-grow: 1;
  flex-basis: 0;
  height: 100%;
  margin-right: 10px;
}


#kp-main-page-slideshow div img {
  width: 150px;
  height: 150px;
}


#kp-main-page-slideshow div:nth-child(odd) img {
  filter: invert(21%) sepia(85%) saturate(2551%) hue-rotate(176deg) brightness(94%) contrast(103%);
}

#kp-main-page-slideshow div:nth-child(even) img {
  filter: invert(89%) sepia(100%) saturate(0%) hue-rotate(214deg) brightness(103%) contrast(101%);
}

#kp-main-page-slideshow-container button {
  position: absolute;
  border: none;
  background: transparent;
  height: 80px;
  width: 80px;
  align-self: center;
}

  #kp-main-page-slideshow-container button:first-child {
    left: 0px;
  }

  #kp-main-page-slideshow-container button:last-child {
    right: 10px;
  }

  #kp-main-page-slideshow-container button img {
    height: 80px;
    width: 80px;
    filter: invert(31%) sepia(99%) saturate(438%) hue-rotate(150deg) brightness(97%) contrast(87%);
  }

#kp-main-page-slideshow div:nth-child(even) {
  background-color: #006F91;
  color: white;
}

#kp-main-page-slideshow div:nth-child(odd) {
  background-color: #9AC7EC;
  color: #006F91;
}

.slide {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: barlowSemiCondensedLight;
  text-align: left;
  padding: 20px;
}

.slide-text-header {
  margin-top: 10px;
  font-size: 2.5vw;
  align-self: flex-start;
}

#kp-main-page-resources-texts {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#kp-main-page-resources-image img {
  filter: invert(31%) sepia(99%) saturate(438%) hue-rotate(150deg) brightness(97%) contrast(87%);
  margin-top: 40px;
  width: 300px;
  height: 300px;
}

#kp-main-page-resources-texts p:first-child {
  font-size: 5vw;
}

#kp-main-page-resources-texts p:nth-child(2) {
  font-size: 1.8vw;
}

#kp-main-page-paractitioners-section {
  height: 350px;
  width: 100%;
  display: flex;
}

#kp-main-page-paractitioners-image {
  width: 22%;
  height: 100%;
}

#kp-main-page-paractitioners-texts {
  width: 78%;
  height: calc(100% - 0.5px);
  display: flex;
  flex-flow: column;
  font-family: barlowSemiCondensedLight;
  color: white;
  background-color: #90BFC5;
  justify-content: center;
  padding-left: 40px;
}

  #kp-main-page-paractitioners-texts p:first-child {
    font-size: 3.9vw;
  }

  #kp-main-page-paractitioners-texts p:nth-child(2) {
    font-size: 1.6vw;
  }

#kp-main-page-become-practitioner-section {
  display: flex;
  height: 350px;
  width: 100%;
}

#kp-main-page-become-practitioner-section-image {
  width: 22%;
  height: 100%;
}

  #kp-main-page-become-practitioner-section-image img {
    filter: invert(31%) sepia(99%) saturate(438%) hue-rotate(150deg) brightness(97%) contrast(87%);
    width: 300px;
    height: 300px;
  }

#kp-main-page-become-practitioner-section-texts {
  width: 78%;
  display: flex;
  flex-flow: column;
  font-family: barlowSemiCondensedLight;
  color: #187293;
  justify-content: center;
  padding-left: 40px;
  width: 100%;
}

  #kp-main-page-become-practitioner-section-texts p:first-child {
    font-size: 4.5vw;
    line-height: 70px;
  }

  #kp-main-page-become-practitioner-section-texts p:nth-child(2) {
    font-size: 1.4vw;
  }

@media only screen and (min-device-width: 768px) and (max-device-width: 1304px) {
  #kp-values-in-action {
    height: 250px;
    justify-content: center;
    background-size: 41%;
    background-position-y: 15px;
  }

  #kp-values-in-action-kp-text {
    margin-top: 0px;
    line-height: 50px;
  }

  #kp-the-values-perspectives-method {
    height: 280px;
  }

  #perspectives-wheel {
    padding-left: 0px;
  }

    #perspectives-wheel img {
      width: 100%;
      height: 100%;
    }

  #kp-vpm-header {
    font-size: 3.5vw;
    color: #187293;
    line-height: 40px;
  }

  .kp-leaf-button {
    width: 45px;
    height: 35px;
  }

  #kp-the-values-perspectives-survey {
    height: 280px;
  }

  #kp-vps-texts-header {
    font-size: 3.9vw;
    line-height: 40px;
  }

  #kp-vps-texts-description {
    font-size: 1.8vw;
    line-height: 20px;
  }

  #kp-blog-section {
    height: 240px;
    margin-bottom: 20px;
  }

  #kp-blog-section-picture {
    padding-top: 0px;
  }

    #kp-blog-section-picture img {
      height: 100%;
      width: 100%;
    }

  #kp-blog-section-texts p:first-child {
    font-size: 4.5vw;
  }

  #kp-blog-section-texts p:last-child {
    font-size: 1.9vw;
  }

  #kp-main-page-slideshow-container button, #kp-main-page-slideshow-container button img {
    height: 40px;
    width: 40px;
  }

    #kp-main-page-slideshow-container button:first-child {
      left: 0px;
      margin-right: 10px;
    }

    #kp-main-page-slideshow-container button:last-child {
      right: 10px;
    }

  #kp-main-page-resources-section {
    height: 250px;
  }

  #kp-main-page-resources-image img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
  }

  #kp-main-page-resources-texts p:first-child {
    font-size: 6.5vw;
  }

  #kp-main-page-resources-texts p:nth-child(2) {
    font-size: 2.5vw;
  }

  #kp-main-page-paractitioners-section {
    height: 250px;
  }

  #kp-main-page-paractitioners-texts p:first-child {
    font-size: 4.5vw;
  }

  #kp-main-page-paractitioners-texts p:nth-child(2) {
    font-size: 2.2vw;
  }

  #kp-main-page-become-practitioner-section {
    height: 250px;
  }

  #kp-main-page-become-practitioner-section-image img {
    width: 100%;
    height: 100%;
  }

  #kp-main-page-become-practitioner-section-texts p:first-child {
    line-height: 50px;
  }

  #kp-main-page-become-practitioner-section-texts p:nth-child(2) {
    margin-top: 10px;
  }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1150px) {
  #kp-main-page-become-practitioner-section-texts p:first-child {
    line-height: 40px;
  }

  #kp-main-page-become-practitioner-section-texts p:nth-child(2) {
    font-size: 1.7vw;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 870px) {
  #kp-vpm-description {
    font-size: 1.6vw;
    margin-top: 10px;
  }
}

@media only screen and (min-device-width: 871px) and (max-device-width: 1304px) {
  #kp-vpm-description {
    font-size: 1.3vw;
    margin-top: 10px;
  }
}

@media only screen and (max-device-width: 768px) {
  #kp-values-in-action {
    height: 150px;
  }

  #kp-values-in-action-kp-text {
    line-height: 40px;
    font-size: 10vw;
  }

  #kp-the-values-perspectives-method {
    height: 500px;
    display: flex;
    flex-flow: column;
    height: auto;
  }

  #perspectives-wheel {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px;
  }

    #perspectives-wheel img {
      height: 100%;
      width: 100%;
      max-width: 330px;
      max-height: 330px;
    }

  #kp-the-values-perspectives-method-text {
    margin-top: 0px;
    width: 100%;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }

  #kp-vpm-header {
    line-height: 30px;
    font-size: 2.3rem;
    text-align: center;
  }

  #kp-vpm-description {
    font-size: 1rem;
    text-align: justify;
  }

  #kp-the-values-perspectives-survey {
    height: 250px;
    display: flex;
  }

  #kp-vps-texts {
    width: 65%;
  }

  #kp-vps-texts-header {
    font-size: 5.8vw;
    line-height: 1;
  }

  #kp-vps-texts-description {
    font-size: 3vw;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1;
  }

  #kp-vps-image {
    width: 35%;
  }

  #kp-blog-section {
    height: auto;
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
  }

  #kp-blog-section-picture {
    width: 100%;
    padding: 0px;
    justify-content: center;
  }

    #kp-blog-section-picture img {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      height: 100%;
    }

  #kp-blog-section-texts {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0px;
    display: flex;
  }

    #kp-blog-section-texts p:first-child {
      font-size: 6.9vw;
    }

    #kp-blog-section-texts p:nth-child(2) {
      margin: 0px;
      padding: 0px;
      font-size: 4.8vw;
      text-align: center;
    }

  #kp-main-page-slideshow-container button img, #kp-main-page-slideshow-container button {
    width: 40px;
    height: 40px;
  }

  #kp-main-page-slideshow-container {
    height: 380px;
  }

  .slide-text-header {
    margin-top: 10px;
    font-size: 2rem;
    align-self: flex-start;
    line-height: 1;
  }

  .slide p:nth-child(3) {
    height: 100%;
    text-align: justify;
    display: flex;
    align-items: center;
    line-height: 1;
  }

  #kp-main-page-resources-section {
    height: auto;
    display: flex;
    flex-flow: column-reverse;
    margin-top: 20px;
  }

  #kp-main-page-resources-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }

    #kp-main-page-resources-texts p:first-child {
      font-size: 11vw;
    }

    #kp-main-page-resources-texts p:nth-child(2) {
      font-size: 4.5vw;
    }

  #kp-main-page-resources-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    #kp-main-page-resources-image img {
      max-width: 250px;
      max-height: 250px;
    }

  #kp-main-page-paractitioners-section {
    height: 250px;
    width: 100%;
  }

  #kp-main-page-paractitioners-image {
    width: 35%;
    height: 100%;
  }



  #kp-main-page-paractitioners-texts {
    width: 65%;
    height: calc(100% - 0.8px);
    padding-left: 20px;
  }

    #kp-main-page-paractitioners-texts p:first-child {
      font-size: 6.9vw;
      line-height: 1;
    }

    #kp-main-page-paractitioners-texts p:nth-child(2) {
      font-size: 3.6vw;
      line-height: 1;
      margin-top: 10px;
    }

  #kp-main-page-become-practitioner-section {
    display: flex;
    height: auto;
    width: 100%;
    flex-flow: column;
    margin-bottom: 20px;
  }

  #kp-main-page-become-practitioner-section-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    #kp-main-page-become-practitioner-section-image img {
      max-width: 250px;
      max-height: 250px;
    }

  #kp-main-page-become-practitioner-section-texts {
    width: 100%;
    align-items: center;
    padding:0px;
  }

    #kp-main-page-become-practitioner-section-texts p:first-child {
      font-size: 8.5vw;
      line-height: 1;
      text-align: center;
    }

    #kp-main-page-become-practitioner-section-texts p:nth-child(2) {
      font-size: 3.9vw;
      line-height: 1;
      margin: 10px;
    }
}
