<app-navigation-bar></app-navigation-bar>
<div id="kp-values-in-action">
  <div id="kp-values-in-action-kp-text">
    <p>KAIRIOS PRAXIS</p>
  </div>
  <div id="kp-values-in-action-values-text">
    <p>VALUES IN ACTION</p>
  </div>
</div>
<div id="kp-the-values-perspectives-method" class="kp-main-page-even-section">
  <div id="perspectives-wheel" class="kp-main-page-even-section-image">
    <img src="../../assets/Downut/KP-Downut-GB-HumanEnergy.svg"  />
  </div>
  <div id="kp-the-values-perspectives-method-text" class="kp-main-page-even-section-texts">
    <p id="kp-vpm-header">
      The Values <br />
      Perspectives Method
    </p>
    <p id="kp-vpm-description">
      Each one of us holds a unique set of individual values, making us who we are. Values also
      cluster into general groupings that reflect archetypal human needs and concerns. We call
      these Perspectives. In order to be healthy, we all tend to have some values energy invested
      in each Perspective. But we also tend to have a greater relative percentage of our values
      energy invested in one or two major Perspectives which we call respectively Core and Second
      Perspective.
    </p>
    <button class="kp-leaf-button">
      <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
    </button>
  </div>
</div>
<div id="kp-the-values-perspectives-survey">
  <div id="kp-vps-texts">
    <p id="kp-vps-texts-header">
      Take the Values<br />
      Perspectives survey
    </p>
    <p id="kp-vps-texts-description">
      and see how values act<br />
      in your day to day life.
    </p>
    <button class="kp-leaf-button">
      <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
    </button>
  </div>
  <div id="kp-vps-image">
    <img src="../../assets/Images/KP-PC-image.png" style="height:100%; width:100%;" />
    <!--<img src="../../assets/Images/KP-PC-image.png" style="width:100%; height:100%;"/>-->
  </div>
</div>
<div id="kp-blog-section" class="kp-main-page-even-section">
  <div id="kp-blog-section-picture" class="kp-main-page-even-section-image">
    <img src="../../assets/KP-logo-accessories--png/Blog-section-drop-image.svg"  />
  </div>
  <div id="kp-blog-section-texts" class="kp-main-page-even-section-texts">
    <p >The Kairios Praxis blog</p>
    <p >
      Articles, white papers, technical data sheets, <br />
      testimonials, stories around the question of values...
    </p>
    <button class="kp-leaf-button">
      <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
    </button>
  </div>
</div>
<div id="kp-main-page-slideshow-container">
  <button>
    <img src="../../assets/KP-logo-accessories--png/0-00-Arrow-left.png" (click)="GoRight()" />
  </button>
  <div id="kp-main-page-slideshow">
    <div #slide class="slide" @myInsertRemoveTrigger>
      <img src="../../assets/KP-logotype/KP-logotype-Bk-empty_1.svg" />
      <p class="slide-text-header">1Values alignment</p>
      <p>
        For groups of people or
        organisations seeking harmonious,
        coherent and efficient development.
      </p>
    </div>
    <div #slide class="slide" @myInsertRemoveTrigger>
      <img src="../../assets/KP-logotype/KP-logotype-Bk-empty_1.svg" />
      <p class="slide-text-header">2Values education</p>
      <p>
        To be informed, to be trained,
        to reinforce one’s educational
        curriculum...
      </p>
    </div>
    <div #slide class="slide" @myInsertRemoveTrigger>
      <img src="../../assets/KP-logotype/KP-logotype-Bk-empty_1.svg" />
      <p class="slide-text-header">3Values education</p>
      <p>
        How values operate in leadership,
        how it can help, how to share...
        A conference organised by Kairios
        Praxis (face to face or online)
      </p>
    </div>
    <div #slide class="slide" @myInsertRemoveTrigger>
      <img src="../../assets/KP-logotype/KP-logotype-Bk-empty_1.svg" />
      <p class="slide-text-header">4Values alignment</p>
      <p>
        For groups of people or
        organisations seeking harmonious,
        coherent and efficient development.
      </p>
    </div>
    <div #slide class="slide" @myInsertRemoveTrigger>
      <img src="../../assets/KP-logotype/KP-logotype-Bk-empty_1.svg" />
      <p class="slide-text-header">5Values alignment</p>
      <p>
        For groups of people or
        organisations seeking harmonious,
        coherent and efficient development.
      </p>
    </div>
    <div #slide class="slide" @myInsertRemoveTrigger>
      <img src="../../assets/KP-logotype/KP-logotype-Bk-empty_1.svg" />
      <p class="slide-text-header">6Values alignment</p>
      <p>
        For groups of people or
        organisations seeking harmonious,
        coherent and efficient development.
      </p>
    </div>
    <div #slide class="slide" @myInsertRemoveTrigger>
      <img src="../../assets/KP-logotype/KP-logotype-Bk-empty_1.svg" />
      <p class="slide-text-header">7Values alignment</p>
      <p>
        For groups of people or
        organisations seeking harmonious,
        coherent and efficient development.
      </p>
    </div>

  </div>
  <button>
    <img src="../../assets/KP-logo-accessories--png/0-00-Arrow-right.png" (click)="GoLeft()" />
  </button>
</div>
<div id="kp-main-page-resources-section" class="kp-main-page-even-section">
  <div id="kp-main-page-resources-texts" class="kp-main-page-even-section-texts">
    <p >Resources</p>
    <p >Documents, books, card games...</p>
    <button class="kp-leaf-button">
      <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
    </button>
  </div>
  <div id="kp-main-page-resources-image" class="kp-main-page-even-section-image">
    <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg"  />
  </div>
</div>
<div id="kp-main-page-paractitioners-section">
  <div id="kp-main-page-paractitioners-image">
    <img src="../../assets/Images/Kp-globus-practitioners.png" style="width:101%; height:100%;" />
  </div>
  <div id="kp-main-page-paractitioners-texts">
    <p >
      The Values practitioners
    </p>
    <p >
      Meet the certified coaches round the world...
    </p>
    <button class="kp-leaf-button">
      <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
    </button>
  </div>
</div>
<div id="kp-main-page-become-practitioner-section">
  <div id="kp-main-page-become-practitioner-section-image">
    <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  </div>
  <div id="kp-main-page-become-practitioner-section-texts">
    <p >
      Become<br />
      a certified practioner
    </p>
    <p >
      Integrating the Value Perspectives framework into your <br />
      daily practice: a real added-value asset
    </p>
    <button class="kp-leaf-button">
      <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png" />
    </button>
  </div>
</div>
<app-footer></app-footer>
