<div class="modal-container" #ageGroupsModalContainer>
  <div class="modal" (click)="PreventEventPropagation($event)">
    <div class="modal-header">
      <p>Choose your age group</p>
    </div>
    <div class="modal-form age-groups-form">
      <button class="age-group-option" (click)="SelectAgeGroup($event, ageGroup)" *ngFor="let ageGroup of ageGroups">{{ageGroup.groupAgeRange}}</button>
    </div>
    <div class="modal-submit-button">
      <button (click)="SetAgeGroup(personalInformationForm)">Confirm</button>
    </div>
  </div>
</div>

<div class="modal-container" #educationModalContainer>
  <div class="modal" (click)="PreventEventPropagation($event)">
    <div class="modal-header">
      <p>Choose your education</p>
    </div>
    <form class="modal-form education-form" #educationForm="ngForm">
      <div *ngFor="let education of educations" class="checkbox-container education-checkbox-container">
        <input type="checkbox" (click)="ToggleSelection($event)" name="education" ngModel value="{{education | json}}">
        <label class="is-not-selected" id="{{'education-with-id-' + education.id}}" for="education">{{education.educationName}}</label>
      </div>
    </form>
    <div class="modal-submit-button" (click)="SubmitMultipleChoiceForm('education',educationForm)">
      <button>Confirm</button>
    </div>
  </div>
</div>

<div class="modal-container" #positionModalContainer>
  <div class="modal" (click)="PreventEventPropagation($event)">
    <div class="modal-header">
      <p>Choose your position</p>
    </div>
    <form class="modal-form" #positionForm="ngForm">
      <div *ngFor="let position of positions" class="checkbox-container">
        <input type="checkbox" (click)="ToggleSelection($event)" name="position" ngModel value="{{position | json}}">
        <label class="is-not-selected" id="{{'position-with-id-' + position.id}}" for="position">{{position.positionName}}</label>
      </div>
    </form>
    <div class="modal-submit-button" (click)="SubmitMultipleChoiceForm('position',positionForm)">
      <button>Confirm</button>
    </div>
  </div>
</div>

<div class="modal-container" #sectorsOfActivitiesModalContainer>
  <div class="modal" (click)="PreventEventPropagation($event)">
    <div class="modal-header">
      <p>Choose your sector of activity</p>
    </div>
    <form class="modal-form" #sectorsOfActivitiesForm="ngForm">
      <div *ngFor="let sectorOfActivity of sectorsOfActivities" class="checkbox-container">
        <input type="checkbox" (click)="ToggleSelection($event)" name="sectorOfActivity" ngModel value="{{sectorOfActivity | json}}">
        <label class="is-not-selected" id="{{'sector-of-activity-with-id-' + sectorOfActivity.id}}" for="sectorOfActivity">{{sectorOfActivity.sectorOfActivityName}}</label>
      </div>
    </form>
    <div class="modal-submit-button" (click)="SubmitMultipleChoiceForm('sectorOfActivity',sectorsOfActivitiesForm)">
      <button>Confirm</button>
    </div>
  </div>
</div>

<div class="modal-container" #regionModalContainer>
  <div class="modal" (click)="PreventEventPropagation($event)">
    <div class="modal-header">
      <p>Choose your countries</p>
    </div>
    <form class="modal-form" #regionsForm="ngForm">
      <div *ngFor="let region of regions" class="checkbox-container">
        <input type="checkbox" (click)="ToggleSelection($event)" name="region" ngModel value="{{region | json}}">
        <label class="is-not-selected" id="{{'region-with-id-' + region.id}}" for="region">{{region.regionName}}</label>
      </div>
    </form>
    <div class="modal-submit-button">
      <button (click)="SubmitMultipleChoiceForm('region',regionsForm)">Confirm</button>
    </div>
  </div>
</div>

<div class="modal-container" #gendersModalContainer>
  <div class="modal" (click)="PreventEventPropagation($event)">
    <div class="modal-header">
      <p>Choose your gender</p>
    </div>
    <div class="modal-body">
      <button class="gender-option" (click)="SelectGender($event,'Male')">Male</button>
      <button class="gender-option" (click)="SelectGender($event,'Female')">Female</button>
      <button class="gender-option" (click)="SelectGender($event,'Other')">Other</button>
    </div>
    <div class="modal-submit-button">
      <button (click)="SetGender(personalInformationForm)">Confirm</button>
    </div>
  </div>
</div>

<div id="practitioner-account-container">
  <div id="practitioner-account-form-container">
    <div id="practitioner-account-main-part">
      <div id="practitioner-account-photo-section" *ngIf="imageSectionIsVisible === 'true'">
        <div id="upload-image-container">
          <img *ngIf="user.profileImageName === null && !isUploadingProccess" src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
          <img *ngIf="isUploadingProccess" style="background:white;" src="../../assets/Images/loading-screen.gif" />
          <img *ngIf="user.profileImageName !== null && !isUploadingProccess" src="../../assets/Profile-Images/{{user.profileImageName}}.png?dummy={{dummyNumber}}" />
          <input type="file" id="image-upload-element" (change)="ChooseNewProfileImage($event.target.files)" />
          <img id="change-image-pencil-image" src="../../assets/KP-logo-accessories--png/pencil.svg" />
        </div>
        <p>Certified</p>
        <p>practitioner</p>
        <p>{{certificateLevel}}</p>
      </div>
      <div id="practitioner-account-form">
        <form id="practitioner-information-form" #personalInformationForm="ngForm" autocomplete="off">
          <div class="input-section">
            <div class="label-section">
              <label for="email">Email address:</label>
            </div>
            <div class="input-field-section">
              <input name="email" #inputField placeholder="Your email address." pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" type="email" required (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.email" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('email',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="firstName">First name:</label>
            </div>
            <div class="input-field-section">
              <input name="firstName" #inputField placeholder="Your first name." pattern="[a-zA-Z]*" (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.firstName" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('firstName',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="lastName">Last name:</label>
            </div>
            <div class="input-field-section">
              <input name="lastName" #inputField placeholder="Your lastName." pattern="[a-zA-Z]*" (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.lastName" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('lastName',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Gender">Gender:</label>
            </div>
            <div id="gender-selected-row">
              <p *ngIf="user != undefined && user.gender.genderName != undefined">{{user.gender.genderName}}</p>
              <p *ngIf="user == undefined || user.gender.genderName == undefined">Gender is not selected</p>
            </div>
            <div class="edit-button-section">
              <button (click)="DisplayGenderModal($event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Region">Countries:</label>
            </div>
            <div class="input-field-section">
              <div *ngFor="let region of user.regions" class="modal-selection-container">
                <p>{{region.regionName}} </p>
              </div>
              <div class="region-container" *ngIf="user.regions == undefined || user.regions.length == 0">
                <p>Country is not selected</p>
              </div>
            </div>
            <div class="edit-button-section">
              <button (click)="DisplayFieldModal($event, 'region', newRegionsSelected, regionModal)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Education">Education:</label>
            </div>
            <div class="input-field-section">
              <div *ngFor="let education of user.educations" class="modal-selection-container">
                <p>{{education.educationName}}</p>
              </div>
              <p class="modal-selection-container" *ngIf="user == undefined || user.educations.length == 0">No educations selected</p>
            </div>
            <div class="edit-button-section">
              <button (click)="DisplayFieldModal($event,'education', newEducationsSelected, educationModal)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Position">Position / Profession:</label>
            </div>
            <div class="input-field-section">
              <div *ngFor="let position of user.positions" class="modal-selection-container">
                <p>{{position.positionName}}</p>
              </div>
              <p class="modal-selection-container" *ngIf="user == undefined || user.positions.length == 0">No positions selected</p>
            </div>
            <div class="edit-button-section">
              <button (click)="DisplayFieldModal($event, 'position', newPositionsSelected, positionModal)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="ActivitySector">Sector of activity:</label>
            </div>
            <div class="input-field-section">
              <div *ngFor="let sectorOfActivity of user.sectorsOfActivities" class="modal-selection-container">
                <p>{{sectorOfActivity.sectorOfActivityName}}</p>
              </div>
              <p class="modal-selection-container" *ngIf="user == undefined || user.sectorsOfActivities.length == 0">No sectors of activity selected</p>
            </div>
            <div class="edit-button-section">
              <button (click)="DisplayFieldModal($event, 'sector-of-activity', newSectorsOfActivitiesSelected, sectorsOfActivitiesModal)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="Age">Age group:</label>
            </div>
            <div class="input-field-section">
              <p class="modal-selection-container" *ngIf="user != undefined && user.ageGroup != null && user.ageGroup != undefined">{{user.ageGroup.groupAgeRange}}</p>
              <p class="modal-selection-container" *ngIf="user == undefined || user.ageGroup == null || user.ageGroup.groupAgeRange == undefined">Age group is not selected</p>
            </div>
            <div class="edit-button-section">
              <button (click)="DisplayAgeGroupModal($event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
          <div class="input-section">
            <div class="label-section">
              <label for="MBCode">4-Letter Myer-Briggs*:</label>
            </div>
            <div class="input-field-section">
              <input name="MBCode" placeholder="Add your 4-Letter Myer-Briggs code." #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.myerBriggsCode" />
            </div>
            <div class="edit-button-section">
              <button (click)="EditInputField('MBCode',$event)">
                <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div id="submit-form-section">
      <div>

      </div>
      <div id="valid-changes-section">
        <button [ngClass]="{'is-disabled': personalInformationForm.pristine, 'is-enabled': !personalInformationForm.pristine}" (click)="ChangeProfileData($event,personalInformationForm)">Valid changes</button>
      </div>
      <div id="see-privacy-image-block">
        <div id="see-privacy-container">
          <img src="../../assets/KP-logo-accessories--png/0-00-KP-Lock.svg" />
          <a>See privacy policy</a>
        </div>
      </div>
    </div>
    <p id="myer-code-description-paragraph">* Not compulsory - To know your 4-Letter Myer-Briggs Type Indicator Score : <span>www.16personalities.com</span></p>
  </div>
</div>
