#signin-form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: #9AC7EC;
  color: #006F91;
  padding: 20px;
  width: 300px;
  align-items: center;
  border-radius: 2px;
  position: relative;
  font-family: barlowSemiCondensedLight;
  font-size: 1.1rem;
}

#not-registered-paragraph span{
    font-family:barlowSemiCondensedMedium;
}

#error-section {
  height: auto;
  width: 300px;
  padding: 10px;
  background-color: #f03;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

  #signin-form *{
      margin-bottom:10px;
  }

  #signin-form input {
    border: none;
    border-radius: 1px;
    padding: 10px;
    text-align: center;
  }

  label{
      text-align:center;
  }

  #signin-title {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }

#signin-form * {
  width: 100%;
}

#signin-form-component {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

input {
  color: #006F91;
}

#code-section {
  width: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #90BFC5;
  flex-flow: column;
  color: white;
  font-family: barlowSemiCondensedLight;
  border-radius: 2px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#forgot-password {
  display: flex;
  justify-content: left;
  text-decoration: underline;
  cursor:pointer;
}

#not-registered-paragraph {
  display: inline;
  text-align:right;
  font-size:1rem;
}

#register-anchor {
  display: flex;
  justify-content: right;
  text-decoration: underline;
  cursor: pointer;
}

#submit-button {
  color: #006F91;
  background-color: white;
}

  #submit-button:hover {
    color: white;
    background-color: #006F91;
  }
