<div>
  <div id="enter-code-field">

  </div>
  <div id="enter-codes-texts">
    <p>{{'Survey.EnterCodePage.FirstParagraph' | translate}}</p>
    <p>{{'Survey.EnterCodePage.SecondParagraph' | translate}}</p>
    <p>{{'Survey.EnterCodePage.ThirdParagraph' | translate}}</p>
    <p>{{'Survey.EnterCodePage.FourthParagraph' | translate}}</p>
    <p>{{'Survey.EnterCodePage.FifthParagraph' | translate}}</p>
    <div>
      <input type="radio" />
      <p>{{'Survey.EnterCodePage.SixthParagraph' | translate}}</p>
    </div>
  </div>
  <div>
    <button>Next <img src="../../assets/KP-logo-accessories--png/00-0-Drop-090.png"/></button>
  </div>
</div>
