<div id="signup-form-component">
  <div id="code-section" *ngIf="surveyCode !== null && surveyCode !== undefined && surveyCode.length > 0">
    <p>Your Survey code is:</p>
    <p>{{surveyCode}}</p>
  </div>
  <div id="error-section" *ngIf="formIsInvalid">
    <p>{{errorMessage}}</p>
  </div>
  <form id="signup-form" #registerForm="ngForm" (ngSubmit)="SubmitSignUpForm(registerForm)">
    <p id="signup-title">Your personal account</p>
    <div id="name-surname-section">
      <div id="name-section">
        <label for="Name">First name</label>
        <input type="text" placeholder="First name" #firstName="ngModel" [(ngModel)]="registerViewModel.firstName" name="Name" />
        <!--<div *ngIf="signInForm.controls['Name'].error.required">
        <p>First name field is required.</p>
      </div>-->
      </div>
      <div id="surname-section">
        <label for="Surname">Last name</label>
        <input type="text" placeholder="Last name" [(ngModel)]="registerViewModel.lastName" #lastName="ngModel" name="Surname" />
        <!--<div *ngIf="signInForm.controls['Surname'].error.required">
        <p>Last name field is required.</p>
      </div>-->
      </div>
    </div>
    <label for="Email">Enter your email</label>
    <input type="text" placeholder="Email" #email="ngModel" [(ngModel)]="registerViewModel.email" name="Email" />
    <label for="ConfirmEmail">Confirm your email</label>
    <input type="text" placeholder="Confirm email" #confirmEmail="ngModel" [(ngModel)]="registerViewModel.confirmEmail" required name="ConfirmEmail" />
    <!--<div *ngIf="signInForm.controls['Email'].error.required">
    <p>Email field is required.</p>
  </div>
  <div *ngIf="signInForm.controls['Email'].error.incorrect">
    <p>Inout is incorrect.</p>
  </div>
  <div *ngIf="signInForm.controls['Email'].error.alreadyExists">
    <p>This email already registered in our database.</p>
  </div>-->

    <div id="password-section">
      <div class="password-container">
        <label for="Password">Enter your password</label>
        <input type="password" placeholder="Password" #password="ngModel" [(ngModel)]="registerViewModel.password" name="Password" />
      </div>
      <div class="password-container">
        <label for="ConfirmPassword">Confirm your password</label>
        <input type="password" placeholder="Password" #confirmPassword="ngModel" [(ngModel)]="registerViewModel.confirmPassword" required name="ConfirmPassword" />
      </div>
    </div>    <!--<div *ngIf="signInForm.controls['Password'].error.required">
    <p>Password field is required.</p>
  </div>
  <div *ngIf="signInForm.controls['Email'].error.tooShort">
    <p>Password is too short.</p>
  </div>-->
    <div id="password-description-container">
      <p>
        Password length should be between 8 to 15 characters, one lowercase letter (a-z) and one uppercase
        letter (A-Z) and at least one special character ( @, #, %, &, !, $, etc.)
      </p>
    </div>
    <div id="agree-to-terms-radio-button-section">
      <input type="radio" id="agree-to-terms-radio-button" (click)="CheckAgreeToTermRadio()" value="agree-to-terms" style="width:auto;" />
      <label for="agree-to-terms">
        I agree that the anonymized survey data will be stored by Kairios Praxis for statistical uses only and
        I have read and understand the Terms & Conditions of this agreement and understand that some of
        the questions in the survey may refer to sensitive data.
      </label>
    </div>
    <input [ngStyle]="{'pointer-events': agreeToTermsRadioChecked ? 'auto' : 'none'}" id="submit-button" type="submit" value="Register" />
  </form>
</div>
