<footer id="footer" >
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  <div id="footer-middle-section">
    <div class="footer-section">
      <p>FOLLOW US</p>
      <div id="social-media-images-container">
        <img src="../../assets/Images/linkedIn-icon.png" />
        <img style="height:20px;width:20px;margin:auto;" src="../../assets/Images/facebook.png" />
      </div>
    </div>
    <div class="footer-section">
      <a>Privacy Policy</a>
      <a>Trademark Policy</a>
    </div>
    <div class="footer-section">
      <a>Contact us</a>
      <p>© Kairios Praxis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
</footer>

<!--<footer id="medium-footer" *ngIf="mediumFooterIsVisible">
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
</footer>
<footer id="mini-footer" *ngIf="miniFooterIsVisible">
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />

</footer>-->

<!--<footer id="micro-footer" *ngIf="microFooterIsVisible">
  <div class="footer-section">

    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
</footer>-->
