<footer id="footer">
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg"  />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg"  />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg"  />

  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg"  />

</footer>
