<footer id="footer" *ngIf="fullFooterIsVisible">
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />

  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />

</footer>

<footer id="medium-footer" *ngIf="mediumFooterIsVisible">
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
</footer>
<footer id="mini-footer" *ngIf="miniFooterIsVisible">
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />
  <div class="footer-section">
    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
  <img src="../../assets/KP-logotype/KP-logotype-006F91-empty.svg" />

</footer>

<footer id="micro-footer" *ngIf="microFooterIsVisible">
  <div class="footer-section">

    <div class="footer-section-texts">
      <p>Here contact</p>
      <p>Website architecture</p>
      <p>Keep in touch</p>
      <p>Address</p>
      <p>Legal matters</p>
      <p>© Kairios Praksis</p>
    </div>
  </div>
</footer>
