<div id="regions-modal-container" #regionModalContainer>
  <div id="regions-modal" (click)="PreventEventPropagation($event)">
    <div id="modal-header">
      <p>Choose your regions</p>
    </div>
    <form id="modal-form" #regionsForm="ngForm">
      <div *ngFor="let region of regions" class="region-checkbox-container">
        <input type="checkbox" (click)="ToggleRegionSelection($event)" name="region" ngModel value="{{region | json}}">
        <label class="is-not-selected" id="{{region.regionName + '-country-container'}}" for="region">{{region.regionName}}</label>
      </div>
    </form>
    <div id="region-modal-submit-button">
      <button (click)="SubmitRegionsForm(regionsForm)">Confirm</button>
    </div>
  </div>
</div>
<div id="genders-modal-container" #gendersModalContainer>
  <div id="genders-modal" (click)="PreventEventPropagation($event)">
    <div id="modal-header">
      <p>Choose your gender</p>
    </div>
    <div id="gender-modal-body">
      <button class="gender-option" (click)="SelectGender($event,'Male')">Male</button>
      <button class="gender-option" (click)="SelectGender($event,'Female')">Female</button>
      <button class="gender-option" (click)="SelectGender($event,'Other')">Other</button>
    </div>
    <div id="gender-modal-submit-button">
      <button (click)="SetGender(personalInformationForm)">Confirm</button>
    </div>
  </div>
</div>
<app-navigation-bar></app-navigation-bar>
<app-page-title titleText="PersonalAccount"></app-page-title>
<div id="error-message-container">
  <p>{{errorMessage}}</p>
</div>
<div id="tip-container" *ngIf="userHasUnsignedSurveys">
  <p>Check your profile before getting your survey result</p>
</div>
<div id="personal-account-container">
  <div id="personal-account-sections">
    <div [ngStyle]="{'margin-left': userHasUnsignedSurveys ? 'auto':'none','margin-right': userHasUnsignedSurveys ? 'auto':'none'}" [ngClass]="{'personal-account-section': true, 'section-selected' : selectedTab == 'my-account-section', 'section-not-selected': selectedTab != 'my-account-section'}" #accountSectionTab (click)="SelectTab($event)" id="my-account-section">
      <p>My account</p>
    </div>
    <div *ngIf="!userHasUnsignedSurveys" [ngClass]="{'personal-account-section': true, 'section-selected' : selectedTab == 'servey-results-and-reports-section', 'section-not-selected': selectedTab != 'servey-results-and-reports-section'}" #accountSectionTab (click)="SelectTab($event)" id="servey-results-and-reports-section">
      <p>My survey results and reports</p>
    </div>
    <div *ngIf="!userHasUnsignedSurveys" [ngClass]="{'personal-account-section': true, 'section-selected' : selectedTab == 'get-codes-section', 'section-not-selected': selectedTab != 'get-codes-section'}" #accountSectionTab (click)="SelectTab($event)"  id="get-codes-section">
      <p>Get codes</p>
    </div>
  </div>
  <div id="get-codes-container" *ngIf="selectedTab == 'get-codes-section' && !userHasUnsignedSurveys">
    <app-get-codes></app-get-codes>
  </div>
  <div  id="survey-results-and-reports-container" *ngIf="selectedTab == 'servey-results-and-reports-section' && !userHasUnsignedSurveys">
    <app-personal-survey-results-and-reports></app-personal-survey-results-and-reports>
  </div>
  <div id="personal-account-form-container" *ngIf="selectedTab == 'my-account-section'">
    <div id="personal-account-form">
      <form id="personal-information-form" #personalInformationForm="ngForm" autocomplete="off">
        <div class="input-section">
          <div class="label-section">
            <label for="email">Email address:</label>
          </div>
          <div class="input-field-section">
            <input name="email" #inputField placeholder="Your email address." pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" type="email" required (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.email" />
          </div>
          <div class="edit-button-section">
            <button (click)="EditInputField('email',$event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
        <div class="input-section">
          <div class="label-section">
            <label for="firstName">First name:</label>
          </div>
          <div class="input-field-section">
            <input name="firstName" #inputField placeholder="Your first name." (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.firstName" />
          </div>
          <div class="edit-button-section">
            <button (click)="EditInputField('firstName',$event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
        <div class="input-section">
          <div class="label-section">
            <label for="lastName">Last name:</label>
          </div>
          <div class="input-field-section">
            <input name="lastName" #inputField placeholder="Your lastName." (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.lastName" />
          </div>
          <div class="edit-button-section">
            <button (click)="EditInputField('lastName',$event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
        <div class="input-section">
          <div class="label-section">
            <label for="Gender">Gender:</label>
          </div>
          <div id="gender-selected-row">
            <p *ngIf="user != undefined && user.gender.genderName != undefined">{{user.gender.genderName}}</p>
            <p *ngIf="user == undefined || user.gender.genderName == undefined">Gender is not selected</p>
          </div>
          <div class="edit-button-section">
            <button (click)="DisplayGenderModal($event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
        <div class="input-section">
          <div class="label-section">
            <label for="Region">Region:</label>
          </div>
          <div class="input-field-section" style="display:flex;">
            <div *ngFor="let region of user.regions" class="region-container">
              <p>{{region.regionName}} </p>
            </div>
          </div>
          <div class="edit-button-section">
            <button (click)="DisplayRegionsModal($event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
        <div class="input-section">
          <div class="label-section">
            <label for="Education">Education:</label>
          </div>
          <div class="input-field-section">
            <input name="Education" placeholder="Enter your education." #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.education" />
          </div>
          <div class="edit-button-section">
            <button (click)="EditInputField('Education',$event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
        <div class="input-section">
          <div class="label-section">
            <label for="Position">Position / Profession:</label>
          </div>
          <div class="input-field-section">
            <input name="Position" placeholder="Enter your position." #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.position" />
          </div>
          <div class="edit-button-section">
            <button (click)="EditInputField('Position',$event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
        <div class="input-section">
          <div class="label-section">
            <label for="ActivitySector">Sector of activity:</label>
          </div>
          <div class="input-field-section">
            <input name="ActivitySector" placeholder="Enter your sector of activity." #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.sectorOfActivity" />
          </div>
          <div class="edit-button-section">
            <button (click)="EditInputField('ActivitySector',$event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
        <div class="input-section">
          <div class="label-section">
            <label for="Age">Age:</label>
          </div>
          <div class="input-field-section">
            <input name="Age" placeholder="Enter your age." type="number" (click)="PreventEventPropagation($event)" #inputField [(ngModel)]="user.age" disabled />
          </div>
          <div class="edit-button-section">
            <button (click)="EditInputField('Age',$event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
        <div class="input-section">
          <div class="label-section">
            <label for="MBCode">4-Letter Myer-Briggs*:</label>
          </div>
          <div class="input-field-section">
            <input name="MBCode" placeholder="Add your 4-Letter Myer-Briggs code." #inputField (click)="PreventEventPropagation($event)" disabled [(ngModel)]="user.myerBriggsCode" />
          </div>
          <div class="edit-button-section">
            <button (click)="EditInputField('MBCode',$event)">
              <img src="../../assets/KP-logo-accessories--png/pencil.svg" />
            </button>
          </div>
        </div>
      </form>

    </div>
    <div id="submit-form-section">
      <div>

      </div>
      <div id="valid-changes-section" >
        <button *ngIf="!userHasUnsignedSurveys" [ngClass]="{'is-enabled': !personalInformationForm.pristine,'is-disabled' : personalInformationForm.pristine}" (click)="ChangeProfileData($event,personalInformationForm)">Valid changes</button>
        <button *ngIf="userHasUnsignedSurveys" class="is-enabled" (click)="AssociateUserDataToTheSurvey(personalInformationForm)">Get your survey result</button>
      </div>
      <div id="see-privacy-image-block">
        <img src="../../assets/KP-logo-accessories--png/0-00-KP-Lock.svg" />
        <a>See privacy policy</a>
      </div>
    </div>
    <p id="myer-code-description-paragraph">* Not compulsory - To know your 4-Letter Myer-Briggs Type Indicator Score : <span>www.16personalities.com</span></p>
  </div>

</div>

<app-footer></app-footer>

